#sandbar {
  background: #F1F1F1;
  height: 77px;
}

.gc-search .searchbox {
  overflow: hidden;
}

.page-title {
  border-bottom: 0;
  padding-bottom: 0;
}

/* Use this to make text not selectable. */
body .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Redesign fixes (backwards-compatible) */
.slim #sandbar {
  height: 71px;
}

.slim #maps-site h2::after,
.slim #maps-devsite h2::after {
  content: none;
}

/* Enable Billing Modal Dialog Styles */
.devsite-enable-billing-dialog {
  left: 50%;
  margin-left: -274px;
  top: 25%;
  width: 548px;
}

.devsite-dialog-close {
  color: #747474;
}

#devsite-dialog-onload-billing-enabled {
  padding: 0;
}

#devsite-dialog-onload-billing-enabled .get-key-check {
  background: no-repeat #8cc152 center/72px url(/maps/images/lhimages/v2/check@2x.png);
  height: 150px;
  width: 100%;
}

#devsite-dialog-onload-billing-enabled .devsite-dialog-contents,
#devsite-dialog-onload-billing-enabled .devsite-dialog-buttons {
  margin: 8px;
}

.devsite-enable-billing-dialog ol {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}

.devsite-enable-billing-dialog li {
  counter-increment: step-counter;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 28px;
}

.devsite-enable-billing-dialog li::before {
  border-radius: 50%;
  border: 2px solid #ececec;
  color: #00bcd4;
  content: counter(step-counter);
  font-size: 14px;
  font-weight: 500;
  margin-right: 22px;
  padding: 6px 10px;
}
