<div id="content">
          <h2 id="show">Show</h2>

<p class="api_description">Retrieve details about a particular address:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><div class="api_endpoint"><pre>GET /api/orders/1/addresses/1
</pre></div></div>
</div>
</div>

<h3 id="response">Response</h3>

<pre class="headers"><code>Status: 200 OK</code></pre>

<pre class="highlight"><code class="language-javascript">{
  "id": 1,
  "firstname": "Spree",
  "lastname": "Commerce",
  "address1": "1 Someplace Lane",
  "address2": "Suite 1",
  "city": "Bethesda",
  "zipcode": "16804",
  "phone": "123.4567.890",
  "company": null,
  "alternative_phone": null,
  "country_id": 1,
  "state_id": 1,
  "state_name": null,
  "country": {
    "id": 1,
    "iso_name": "UNITED STATES",
    "iso": "US",
    "iso3": "USA",
    "name": "United States",
    "numcode": 1
  },
  "state": {
    "abbr": "NY",
    "country_id": 1,
    "id": 1,
    "name": "New York"
  }
}</code></pre>

<h2 id="update">Update</h2>

<p>To update an address, make a request like this:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><div class="api_endpoint"><pre>PUT /api/orders/1/addresses/1?address[firstname]=Ryan
</pre></div></div>
</div>
</div>

<p class="api_description">This request will update the <code>firstname</code> field for an address to the value of "Ryan"</p>

<p>Valid address fields are:</p>

<div class="api_parameter"><ul>
  <li class="api_parameter_name">firstname</li>
  <li class="api_parameter_name">lastname</li>
  <li class="api_parameter_name">company</li>
  <li class="api_parameter_name">address1</li>
  <li class="api_parameter_name">address2</li>
  <li class="api_parameter_name">city</li>
  <li class="api_parameter_name">zipcode</li>
  <li class="api_parameter_name">phone</li>
  <li class="api_parameter_name">alternative_phone</li>
  <li class="api_parameter_name">country_id</li>
  <li class="api_parameter_name">state_id</li>
  </ul></div>

        </div>
