<div class="parsys longform-text-content-par"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourceparagraph"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>When making calls that return a large number of results as a list, it
will often be of benefit to page the result set. &nbsp;By requesting
smaller subsets of data, you will get a response much faster than when
requesting the entire, potentially large, data set.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>On calls that support result set paging, pass in the following
parameters to control size and start point of the page:</p>
</div>
</div>
</div>
<div class="resourceTable section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourcetable"></a></div>
<div class="resource-table-section header-row">
<p class="resource-paragraph-heading">Paging Parameters</p>
<p class="resource-paragraph-subheading"></p>
<div class="api_parameter"><table>
<tbody>
<tr>
<td>Name</td><td>Description</td></tr>
<tr>
<td class="api_parameter_name">start</td><td class="api_parameter_desc">The index of the first item you want results for.</td></tr>
<tr>
<td class="api_parameter_name">count</td><td class="api_parameter_desc">The maximum number of items you want included in
the result set. &nbsp;Note that there may be less remaining items
  than the value you specify here.</td></tr></tbody></table></div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourceparagraph_1"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>To page through the results, begin with a start value of 0 and a
count value of N. &nbsp;To get the next page, set start value to N, while
the count value stays the same. &nbsp;Subsequent pages will start at 2N,
3N, 4N...</p>
<p>You will have paged through all the results once your
<span>start</span> value + <span>count</span> value &gt;= the value of
"_total" in the result set.</p>
<p>For example:</p>
</div>
</div>
</div>
<div class="resourceEndpoint section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourceendpoint"></a></div>
<div class="resource-endpoint-section">
<table>
<tbody>
<tr>
<td class="method">
GET
</td>
<td class="endpoint">
<div class="api_endpoint"><pre class="url"><code>https://api.linkedin.com/v1/companies/1337/updates?start=20&amp;count=10&amp;format=json</code></pre></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="hero-par_longformtext_longform-text-content-par_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">sample response</figcaption>
<pre class="code language-javascript"><code>{
  "_count": 10,
  "_start": 20,
  "_total": 613,
  "values":  [
      â€¦
  ]
}</code></pre>
</figure>
</div>
</div>
</div>
