<div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div><h1>Post <code>/{post-id}</code></h1>

<p>An individual entry in a profile's feed. The profile could be a user, page, app, or group.</p></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div class="_604"><h2 id="read">Reading</h2><div class="_5z09"><div class="_51xa _5gt2 _51xb" id="u_0_e"><button value="1" class="_42ft _51tl selected _42fs" id="u_0_f" type="submit">HTTP</button><button value="1" class="_42ft _51tl selected" id="u_0_g" type="submit">PHP SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_h" type="submit">JavaScript SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_i" type="submit">Android SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_j" type="submit">iOS SDK</button><a class="_42ft _51tl selected" role="button" href="/tools/explorer/145634995501895/?method=GET&amp;path=%7Bpost-id%7D&amp;version=v2.5" target="_blank">Graph API Explorer<i class="_3-99 img sp_bjswmc sx_5c6c6b"></i></a></div><div class="_xmu"><pre style="" class="_5gt1 prettyprint lang-regex prettyprinted" id="u_0_k"><div class="api_endpoint"><code><span class="str">GET /v2.5/{post-id} HTTP/1.1
  Host: graph.facebook.com</span></code></div></pre><pre style="" class="_5gt1 prettyprint lang-cpp prettyprinted hidden_elem" id="u_0_l"><code><span class="com">/* PHP SDK v5.0.0 */</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
$request </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">FacebookRequest</span><span class="pun">(</span><span class="pln">
  $session</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'GET'</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'/{post-id}'</span><span class="pln">
</span><span class="pun">);</span><span class="pln">
$response </span><span class="pun">=</span><span class="pln"> $request</span><span class="pun">-&gt;</span><span class="pln">execute</span><span class="pun">();</span><span class="pln">
$graphObject </span><span class="pun">=</span><span class="pln"> $response</span><span class="pun">-&gt;</span><span class="pln">getGraphObject</span><span class="pun">();</span><span class="pln">
</span><span class="com">/* handle the result */</span></code></pre><pre style="" class="_5gt1 prettyprint lang-js prettyprinted hidden_elem" id="u_0_m"><code><span class="com">/* make the API call */</span><span class="pln">
FB</span><span class="pun">.</span><span class="pln">api</span><span class="pun">(</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><span class="kwd">if</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response </span><span class="pun">&amp;&amp;</span><span class="pln"> </span><span class="pun">!</span><span class="pln">response</span><span class="pun">.</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="com">/* handle the result */</span><span class="pln">
      </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">);</span></code></pre><pre style="" class="_5gt1 prettyprint lang-java prettyprinted hidden_elem" id="u_0_n"><code><span class="com">/* make the API call */</span><span class="pln">
</span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">(</span><span class="pln">
    </span><span class="typ">AccessToken</span><span class="pun">.</span><span class="pln">getCurrentAccessToken</span><span class="pun">(),</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">null</span><span class="pun">,</span><span class="pln">
    </span><span class="typ">HttpMethod</span><span class="pun">.</span><span class="pln">GET</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">.</span><span class="typ">Callback</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="kwd">public</span><span class="pln"> </span><span class="kwd">void</span><span class="pln"> onCompleted</span><span class="pun">(</span><span class="typ">GraphResponse</span><span class="pln"> response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
            </span><span class="com">/* handle the result */</span><span class="pln">
        </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">).</span><span class="pln">executeAsync</span><span class="pun">();</span></code></pre><pre style="" class="_5gt1 prettyprint lang-m prettyprinted hidden_elem" id="u_0_o"><code><span class="com">// For more complex open graph stories, use `FBSDKShareAPI`</span><span class="pln">
</span><span class="com">// with `FBSDKShareOpenGraphContent`</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> </span><span class="pun">*</span><span class="pln">request </span><span class="pun">=</span><span class="pln"> </span><span class="pun">[[</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln">
                               initWithGraphPath</span><span class="pun">:@</span><span class="str">"/{post-id}"</span><span class="pln">
                                      parameters</span><span class="pun">:</span><span class="pln">params
                                      </span><span class="typ">HTTPMethod</span><span class="pun">:@</span><span class="str">"GET"</span><span class="pun">];</span><span class="pln">
</span><span class="pun">[</span><span class="pln">request startWithCompletionHandler</span><span class="pun">:^(</span><span class="typ">FBSDKGraphRequestConnection</span><span class="pln"> </span><span class="pun">*</span><span class="pln">connection</span><span class="pun">,</span><span class="pln">
                                      id result</span><span class="pun">,</span><span class="pln">
                                      </span><span class="typ">NSError</span><span class="pln"> </span><span class="pun">*</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="com">// Handle the result</span><span class="pln">
</span><span class="pun">}];</span></code></pre></div></div><h3 id="readperms">Permissions</h3>

<ul><li>Any valid access token can read posts on a public Page.</li>
<li>A page access token can read all posts posted to or posted by that Page.</li>
<li>A user access token can read any post your application created on behalf of that user. </li>
<li>A user's post can be read if the owner has granted the <code>user_posts</code> permission.</li>
<li>A user access token may read a post that user is tagged in if they have granted the <code>user_posts</code> permission. However, in some cases the post's owner's privacy settings may not allow your application to access it.</li>
</ul><h3 id="fields">Fields</h3><div class="_57-c"><div class="api_parameter"><table class="_4-ss _5k9x"><thead><tr><th>Name</th><th>Description</th><th>Type</th></tr></thead><tbody id="u_0_1c" class="_5m37"><tr class="row_0"><td class="api_parameter_name"><p><code>id</code></p></td><td class="api_parameter_desc"><p>The post ID</p></td><td class="api_parameter_type"><p><code>string</code></p></td></tr><tr class="row_1 _5m29 _5m27"><td class="api_parameter_name"><p><code>admin_creator</code></p></td><td class="api_parameter_desc"><p>ID of admin, app or business that created the post.  Applies to pages only</p></td><td class="api_parameter_type"><p><code>object[]</code></p></td></tr><tr class="row_1-0 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1 api_parameter_name"><p><code>id</code></p></td><td class="api_parameter_desc"><p>ID of the person, app or business</p></td><td class="api_parameter_type"><p><code>int</code></p></td></tr><tr class="row_1-1 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1 api_parameter_name"><p><code>name</code></p></td><td class="api_parameter_desc"><p>Name of the person, app or business</p></td><td class="api_parameter_type"><p><code>string</code></p></td></tr><tr class="row_2"><td class="api_parameter_name"><p><code>application</code></p></td><td class="api_parameter_desc"><p>Information about the app this post was published by.</p></td><td class="api_parameter_type"><p><a href="/docs/graph-api/reference/app"><code>App</code></a></p></td></tr><tr class="row_3 _5m29 _5m27"><td><p><code>call_to_action</code></p></td><td><p>The call to action type used in any Page posts for <a href="/docs/ads-for-apps/mobile-app-ads-engagement">mobile app engagement ads</a>.</p></td><td><p><code>object</code></p></td></tr><tr class="row_3-0 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>context</code></p></td><td><p>The call to action type used in any Page posts for <a href="/docs/ads-for-apps/mobile-app-ads-engagement">mobile app engagement ads</a>.</p></td><td><p><code>object</code></p></td></tr><tr class="row_4"><td><p><code>caption</code></p></td><td><p>The caption of a link in the post (appears beneath the <code>name</code>).</p></td><td><p><code>string</code></p></td></tr><tr class="row_5 _5m29"><td><p><code>created_time</code></p></td><td><p>The time the post was initially published. For a post about a life event, this will be the date and time of the life event</p></td><td><p><code>datetime</code></p></td></tr><tr class="row_6"><td><p><code>description</code></p></td><td><p>A description of a link in the post (appears beneath the <code>caption</code>).</p></td><td><p><code>string</code></p></td></tr><tr class="row_7 _5m29 _5m27"><td><p><code>feed_targeting</code></p></td><td><p>Object that controls <a href="https://www.facebook.com/help/352402648173466">news feed targeting</a> for this post. Anyone in these groups will be more likely to see this post, others will be less likely, but may still see it anyway. Any of the targeting fields shown here can be used, none are required (applies to Pages only).</p></td><td><p><code>object</code></p></td></tr><tr class="row_7-0 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>age_max</code></p></td><td><p>Maximum age</p></td><td><p><code>int</code></p></td></tr><tr class="row_7-1 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>age_min</code></p></td><td><p>Must be 13 or higher. Default is 0</p></td><td><p><code>int</code></p></td></tr><tr class="row_7-2 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>cities</code></p></td><td><p>Values of targeting cities. Use <code>type</code> of <code>adcity</code> to <a href="/docs/graph-api/reference/targeting/">find Targeting Options</a> and use the returned <code>key</code> to specify.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-3 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>college_years</code></p></td><td><p>Array of integers for graduation year from college.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-4 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>countries</code></p></td><td><p>Values of targeting countries. You can specify up to 25 countries. Use <a onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.iso.org\/iso\/country_codes\/iso_3166_code_lists\/country_names_and_code_elements.htm&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.iso.org\u00252Fiso\u00252Fcountry_codes\u00252Fiso_3166_code_lists\u00252Fcountry_names_and_code_elements.htm&amp;h=aAQFuKdam&amp;render_verification=0&amp;enc&amp;d&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.iso.org\/iso\/country_codes\/iso_3166_code_lists\/country_names_and_code_elements.htm&quot;);" rel="nofollow" target="_blank" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.iso.org%2Fiso%2Fcountry_codes%2Fiso_3166_code_lists%2Fcountry_names_and_code_elements.htm&amp;h=aAQFuKdam&amp;s=1">ISO 3166 format codes</a>.</p></td><td><p><code>string[]</code></p></td></tr><tr class="row_7-5 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>education_statuses</code></p></td><td><p>Array of integers for targeting based on education level. Use <code>1</code> for high school, <code>2</code> for undergraduate, and <code>3</code> for alum (or localized equivalents).</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-6 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>genders</code></p></td><td><p>Target specific genders. <code>1</code> targets all male viewers and <code>2</code> females. Default is to target both.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-7 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>interested_in</code></p></td><td><p>Indicates targeting based on the 'interested in' field of the user profile. You can specify an integer of <code>1</code> to indicate male, <code>2</code> indicates female. Default is all types. Please note 'interested in' targeting is not available in France due to local laws.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-8 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>locales</code></p></td><td><p>Targeted locales. Use <code>type</code> of <code>adlocale</code> to <a href="/docs/graph-api/reference/targeting/">find Targeting Options</a> and use the returned <code>key</code> to specify.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_7-9 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>regions</code></p></td><td><p>Values of targeting regions. Use <code>type</code> of <code>adregion</code> to <a href="/docs/graph-api/reference/targeting/">find Targeting Options</a> and use the returned <code>key</code> to specify.</p></td><td><p><code>adregion[]</code></p></td></tr><tr class="row_7-10 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>relationship_statuses</code></p></td><td><p>Array of integers for targeting based on relationship status. Use <code>1</code> for single, <code>2</code> for 'in a relationship', <code>3</code> for married, and <code>4</code> for engaged. Default is all types.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_8"><td><p><code>from</code></p></td><td><p>Information about the profile that posted the message.</p></td><td><p><a href="/docs/graph-api/reference/profile"><code>Profile</code></a></p></td></tr><tr class="row_9 _5m29"><td><p><code>icon</code></p></td><td><p>A link to an icon representing the type of this post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_10"><td><p><code>is_hidden</code></p></td><td><p>If this post is marked as hidden (applies to Pages only).</p></td><td><p><code>boolean</code></p></td></tr><tr class="row_11 _5m29"><td><p><code>is_published</code></p></td><td><p>Indicates whether a scheduled post was published (applies to scheduled Page Post only, for users post and instanlty published posts this value is always <code>true</code>)</p></td><td><p><code>boolean</code></p></td></tr><tr class="row_12"><td><p><code>link</code></p></td><td><p>The link attached to this post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_13 _5m29"><td><p><code>message</code></p></td><td><p>The status message in the post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_14 _5m27"><td><p><code>message_tags</code></p></td><td><p>Profiles tagged in <code>message</code>. This is an object with a unique key for each tag in the message</p></td><td><p><code>object</code></p></td></tr><tr class="row_14-0 hidden_elem _5m27"><td class="devsiteReferenceTableRowLevel1"><p><code>{tag-key}</code></p></td><td><p>Each tag in the message has a unique key within the <code>message_tags</code> object, which also indicates the order in which it appears in the <code>message</code>. The corresponding value of this key is another object representing the tag itself.</p></td><td><p><code>object</code></p></td></tr><tr class="row_14-0-0 hidden_elem"><td class="devsiteReferenceTableRowLevel2"><p><code>id</code></p></td><td><p>ID of the profile that was tagged.</p></td><td><p><code>string</code></p></td></tr><tr class="row_14-0-1 hidden_elem"><td class="devsiteReferenceTableRowLevel2"><p><code>name</code></p></td><td><p>The text used in the tag.</p></td><td><p><code>string</code></p></td></tr><tr class="row_14-0-2 hidden_elem"><td class="devsiteReferenceTableRowLevel2"><p><code>type</code></p></td><td><p>Indicates which type of profile is tagged.</p></td><td><p><code>enum{user, page, group}</code></p></td></tr><tr class="row_14-0-3 hidden_elem"><td class="devsiteReferenceTableRowLevel2"><p><code>offset</code></p></td><td><p>Where the first character of the tagged text is in the <code>message</code>, measured in <a onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/en.wikipedia.org\/wiki\/Code_point&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fen.wikipedia.org\u00252Fwiki\u00252FCode_point&amp;h=aAQFuKdam&amp;render_verification=0&amp;enc&amp;d&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/en.wikipedia.org\/wiki\/Code_point&quot;);" rel="nofollow" target="_blank" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCode_point&amp;h=aAQFuKdam&amp;s=1">unicode code points</a>.</p></td><td><p><code>integer</code></p></td></tr><tr class="row_14-0-4 hidden_elem"><td class="devsiteReferenceTableRowLevel2"><p><code>length</code></p></td><td><p>How many <a onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/en.wikipedia.org\/wiki\/Code_point&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fen.wikipedia.org\u00252Fwiki\u00252FCode_point&amp;h=5AQGXaIWo&amp;render_verification=0&amp;enc&amp;d&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/en.wikipedia.org\/wiki\/Code_point&quot;);" rel="nofollow" target="_blank" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCode_point&amp;h=5AQGXaIWo&amp;s=1">unicode code points</a> this tag consists of, after the offset.</p></td><td><p><code>integer</code></p></td></tr><tr class="row_15 _5m29"><td><p><code>name</code></p></td><td><p>The name of the <code>link</code>.</p></td><td><p><code>string</code></p></td></tr><tr class="row_16"><td><p><code>object_id</code></p></td><td><p>The ID of any uploaded photo or video attached to the post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_17 _5m29"><td><p><code>picture</code></p></td><td><p>The picture scraped from any <code>link</code> included with the post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_18"><td><p><code>place</code></p></td><td><p>Any location information attached to the post.</p></td><td><p><a href="/docs/graph-api/reference/place"><code>Place</code></a></p></td></tr><tr class="row_19 _5m29 _5m27"><td><p><code>privacy</code></p></td><td><p>The privacy settings of the post.</p></td><td><p><code>object</code></p></td></tr><tr class="row_19-0 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>description</code></p></td><td><p>Text that describes the privacy settings, as they would appear on Facebook.</p></td><td><p><code>string</code></p></td></tr><tr class="row_19-1 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>value</code></p></td><td><p>The actual privacy setting.</p></td><td><p><code>enum{EVERYONE, ALL_FRIENDS, FRIENDS_OF_FRIENDS, SELF, CUSTOM}</code></p></td></tr><tr class="row_19-2 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>friends</code></p></td><td><p>If <code>value</code> is <code>CUSTOM</code>, this indicates which group of friends can see the post.</p></td><td><p><code>enum{ALL_FRIENDS, FRIENDS_OF_FRIENDS, SOME_FRIENDS}</code></p></td></tr><tr class="row_19-3 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>allow</code></p></td><td><p>If <code>value</code> is <code>CUSTOM</code>, this is a comma-separated ID list of users and friendlists (if any) that can see the post.</p></td><td><p><code>csv&lt;string&gt;</code></p></td></tr><tr class="row_19-4 _5m29 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>deny</code></p></td><td><p>If <code>value</code> is <code>CUSTOM</code>, this is a comma-separated ID list of users and friendlists (if any) that cannot see the post.</p></td><td><p><code>csv&lt;string&gt;</code></p></td></tr><tr class="row_20 _5m27"><td><p><code>properties</code></p></td><td><p>A list of properties for any attached video, for example, the length of the video.</p></td><td><p><code>object[]</code></p></td></tr><tr class="row_20-0 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>name</code></p></td><td><p>The property name.</p></td><td><p><code>string</code></p></td></tr><tr class="row_20-1 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>text</code></p></td><td><p>The value of the property.</p></td><td><p><code>string</code></p></td></tr><tr class="row_20-2 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>href</code></p></td><td><p>Any link associated with the property.</p></td><td><p><code>string</code></p></td></tr><tr class="row_21 _5m29"><td><p><code>shares</code></p></td><td><p>The shares count of this post.</p></td><td><p><code>object</code></p></td></tr><tr class="row_22"><td><p><code>source</code></p></td><td><p>A URL to any Flash movie or video file attached to the post.</p></td><td><p><code>string</code></p></td></tr><tr class="row_23 _5m29"><td><p><code>status_type</code></p></td><td><p>Description of the type of a status update.</p></td><td><p><code>enum{mobile_status_update, created_note, added_photos, added_video, shared_story, created_group, created_event, wall_post, app_created_story, published_story, tagged_in_photo, approved_friend}</code></p></td></tr><tr class="row_24"><td><p><code>story</code></p></td><td><p>Text from stories not intentionally generated by users, such as those generated when two people become friends, or when someone else posts on the person's wall.</p></td><td><p><code>string</code></p></td></tr><tr class="row_25 _5m29"><td><p><code>story_tags</code></p></td><td><p>Deprecated field, same as <code>message_tags</code>.</p></td><td><p><code>array</code></p></td></tr><tr class="row_26 _5m27"><td><p><code>targeting</code></p></td><td><p>Object that <a href="https://www.facebook.com/help/352402648173466">limited the audience</a> for this content. Anyone not in these demographics will not be able to view this content. This will not override any Page-level demographic restrictions that may be in place.</p></td><td><p><code>object</code></p></td></tr><tr class="row_26-0 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>countries</code></p></td><td><p>Values of targeting countries as <a onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.iso.org\/iso\/country_codes\/iso_3166_code_lists\/country_names_and_code_elements.htm&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.iso.org\u00252Fiso\u00252Fcountry_codes\u00252Fiso_3166_code_lists\u00252Fcountry_names_and_code_elements.htm&amp;h=wAQHKbu5E&amp;render_verification=0&amp;enc&amp;d&quot;);" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.iso.org\/iso\/country_codes\/iso_3166_code_lists\/country_names_and_code_elements.htm&quot;);" rel="nofollow" target="_blank" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.iso.org%2Fiso%2Fcountry_codes%2Fiso_3166_code_lists%2Fcountry_names_and_code_elements.htm&amp;h=wAQHKbu5E&amp;s=1">ISO 3166 format codes</a>.</p></td><td><p><code>string[]</code></p></td></tr><tr class="row_26-1 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>locales</code></p></td><td><p>Targeted locales. <a href="/docs/graph-api/reference/targeting/">Targeting Options</a> of the type <code>adlocale</code> may be returned.</p></td><td><p><code>int[]</code></p></td></tr><tr class="row_26-2 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>regions</code></p></td><td><p>Values for targeted regions. <a href="/docs/graph-api/reference/targeting/">Targeting Options</a> of the type <code>adregion</code> may be returned.</p></td><td><p><code>list&lt;unsigned int32&gt;</code></p></td></tr><tr class="row_26-3 hidden_elem"><td class="devsiteReferenceTableRowLevel1"><p><code>cities</code></p></td><td><p>Values for excluded cities. <a href="/docs/marketing-api/targeting-search">Targeting Options</a> of the type <code>adcity</code> may be returned.</p></td><td><p><code>list&lt;unsigned int32&gt;</code></p></td></tr><tr class="row_27 _5m29"><td><p><code>to</code></p></td><td><p>Profiles mentioned or targeted in this post.</p></td><td><p><a href="/docs/graph-api/reference/profile"><code>Profile[]</code></a></p></td></tr><tr class="row_28"><td><p><code>type</code></p></td><td><p>A string indicating the object type of this post.</p></td><td><p><code>enum{link, status, photo, video, offer}</code></p></td></tr><tr class="row_29 _5m29"><td><p><code>updated_time</code></p></td><td><p>The time when the post was created, last edited or the time of the last comment that was left on the post.</p>

<p>For a post about a life event, this will be the date and time of the life event</p></td><td><p><code>datetime</code></p></td></tr><tr class="row_30"><td><p><code>with_tags</code></p></td><td><p>Profiles tagged as being 'with' the publisher of the post.</p></td><td><p>JSON object with a <code>data</code> field that contains a list of <a href="/docs/graph-api/reference/profile"><code>Profile</code> objects.</a></p></td></tr></tbody></table></div></div></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div><h2 id="publishing">Publishing</h2>

<p>You can publish posts by using the <a href="/docs/graph-api/reference/user/feed"><code>/{user-id}/feed</code></a>, <a href="/docs/graph-api/reference/page/feed"><code>/{page-id}/feed</code></a>, <a href="/docs/graph-api/reference/event/feed"><code>/{event-id}/feed</code></a>, or <a href="/docs/graph-api/reference/group/feed"><code>/{group-id}/feed</code></a> edges.</p>

<p>When creating a Post for a Page if you use a user access token the post will be in the voice of the user that posted it.  If you use a page access token, the post will be in the voice of the page.</p></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div class="_604"><h2 id="deleting">Deleting</h2>

<p>An app can delete a post if it published it:</p><div class="_5z09"><div class="_51xa _5gt2 _51xb" id="u_0_p"><button value="1" class="_42ft _51tl selected _42fs" id="u_0_q" type="submit">HTTP</button><button value="1" class="_42ft _51tl selected" id="u_0_r" type="submit">PHP SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_s" type="submit">JavaScript SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_t" type="submit">Android SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_u" type="submit">iOS SDK</button></div><div class="_xmu"><pre style="" class="_5gt1 prettyprint lang-regex prettyprinted" id="u_0_v"><div class="api_endpoint"><code><span class="str">DELETE /v2.5/{post-id} HTTP/1.1
  Host: graph.facebook.com</span></code></div></pre><pre style="" class="_5gt1 prettyprint lang-cpp prettyprinted hidden_elem" id="u_0_w"><code><span class="com">/* PHP SDK v5.0.0 */</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
$request </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">FacebookRequest</span><span class="pun">(</span><span class="pln">
  $session</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'DELETE'</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'/{post-id}'</span><span class="pln">
</span><span class="pun">);</span><span class="pln">
$response </span><span class="pun">=</span><span class="pln"> $request</span><span class="pun">-&gt;</span><span class="pln">execute</span><span class="pun">();</span><span class="pln">
$graphObject </span><span class="pun">=</span><span class="pln"> $response</span><span class="pun">-&gt;</span><span class="pln">getGraphObject</span><span class="pun">();</span><span class="pln">
</span><span class="com">/* handle the result */</span></code></pre><pre style="" class="_5gt1 prettyprint lang-js prettyprinted hidden_elem" id="u_0_x"><code><span class="com">/* make the API call */</span><span class="pln">
FB</span><span class="pun">.</span><span class="pln">api</span><span class="pun">(</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"DELETE"</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><span class="kwd">if</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response </span><span class="pun">&amp;&amp;</span><span class="pln"> </span><span class="pun">!</span><span class="pln">response</span><span class="pun">.</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="com">/* handle the result */</span><span class="pln">
      </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">);</span></code></pre><pre style="" class="_5gt1 prettyprint lang-java prettyprinted hidden_elem" id="u_0_y"><code><span class="com">/* make the API call */</span><span class="pln">
</span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">(</span><span class="pln">
    </span><span class="typ">AccessToken</span><span class="pun">.</span><span class="pln">getCurrentAccessToken</span><span class="pun">(),</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">null</span><span class="pun">,</span><span class="pln">
    </span><span class="typ">HttpMethod</span><span class="pun">.</span><span class="pln">DELETE</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">.</span><span class="typ">Callback</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="kwd">public</span><span class="pln"> </span><span class="kwd">void</span><span class="pln"> onCompleted</span><span class="pun">(</span><span class="typ">GraphResponse</span><span class="pln"> response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
            </span><span class="com">/* handle the result */</span><span class="pln">
        </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">).</span><span class="pln">executeAsync</span><span class="pun">();</span></code></pre><pre style="" class="_5gt1 prettyprint lang-m prettyprinted hidden_elem" id="u_0_z"><code><span class="com">// For more complex open graph stories, use `FBSDKShareAPI`</span><span class="pln">
</span><span class="com">// with `FBSDKShareOpenGraphContent`</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> </span><span class="pun">*</span><span class="pln">request </span><span class="pun">=</span><span class="pln"> </span><span class="pun">[[</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln">
                               initWithGraphPath</span><span class="pun">:@</span><span class="str">"/{post-id}"</span><span class="pln">
                                      parameters</span><span class="pun">:</span><span class="pln">params
                                      </span><span class="typ">HTTPMethod</span><span class="pun">:@</span><span class="str">"DELETE"</span><span class="pun">];</span><span class="pln">
</span><span class="pun">[</span><span class="pln">request startWithCompletionHandler</span><span class="pun">:^(</span><span class="typ">FBSDKGraphRequestConnection</span><span class="pln"> </span><span class="pun">*</span><span class="pln">connection</span><span class="pun">,</span><span class="pln">
                                      id result</span><span class="pun">,</span><span class="pln">
                                      </span><span class="typ">NSError</span><span class="pln"> </span><span class="pun">*</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="com">// Handle the result</span><span class="pln">
</span><span class="pun">}];</span></code></pre></div></div><h3 id="delperms">Permissions</h3>

<ul><li>To delete a user's post, a user access token with <code>publish_actions</code> <a href="/docs/authentication/permissions/">permission</a> is required.</li>
<li>To delete a Page's post a Page access token and <code>publish_pages</code> <a href="/docs/authentication/permissions/">permission</a> is required. </li>
<li>To delete a User's post on Page a Page access token is required.</li>
</ul><h3 id="delfields">Fields</h3>

<p>No fields are required.</p>

<h3 id="delresponse">Response</h3>

<p>If successful:</p>

<div><pre style="" class="prettyprint prettyprinted"><code><span class="pun">{</span><span class="pln">
  </span><span class="str">"success"</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span><span class="pln">
</span><span class="pun">}</span></code></pre></div><p>Otherwise a relevant error message will be returned.</p></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div class="_604"><h2 id="updating">Updating</h2>

<p>An app can update a post if it published it:</p><div class="_5z09"><div class="_51xa _5gt2 _51xb" id="u_0_10"><button value="1" class="_42ft _51tl selected _42fs" id="u_0_11" type="submit">HTTP</button><button value="1" class="_42ft _51tl selected" id="u_0_12" type="submit">PHP SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_13" type="submit">JavaScript SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_14" type="submit">Android SDK</button><button value="1" class="_42ft _51tl selected" id="u_0_15" type="submit">iOS SDK</button></div><div class="_xmu"><pre style="" class="_5gt1 prettyprint lang-regex prettyprinted" id="u_0_16"><code><span class="str"><div class="api_endpoint">POST /v2.5/{post-id} HTTP/1.1</div>
Host: graph.facebook.com

message=This+is+a+test+message</span></code></pre><pre style="" class="_5gt1 prettyprint lang-cpp prettyprinted hidden_elem" id="u_0_17"><code><span class="com">/* PHP SDK v5.0.0 */</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
$request </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">FacebookRequest</span><span class="pun">(</span><span class="pln">
  $session</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'POST'</span><span class="pun">,</span><span class="pln">
  </span><span class="str">'/{post-id}'</span><span class="pun">,</span><span class="pln">
  array </span><span class="pun">(</span><span class="pln">
    </span><span class="str">'message'</span><span class="pln"> </span><span class="pun">=&gt;</span><span class="pln"> </span><span class="str">'This is a test message'</span><span class="pun">,</span><span class="pln">
  </span><span class="pun">)</span><span class="pln">
</span><span class="pun">);</span><span class="pln">
$response </span><span class="pun">=</span><span class="pln"> $request</span><span class="pun">-&gt;</span><span class="pln">execute</span><span class="pun">();</span><span class="pln">
$graphObject </span><span class="pun">=</span><span class="pln"> $response</span><span class="pun">-&gt;</span><span class="pln">getGraphObject</span><span class="pun">();</span><span class="pln">
</span><span class="com">/* handle the result */</span></code></pre><pre style="" class="_5gt1 prettyprint lang-js prettyprinted hidden_elem" id="u_0_18"><code><span class="com">/* make the API call */</span><span class="pln">
FB</span><span class="pun">.</span><span class="pln">api</span><span class="pun">(</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    </span><span class="str">"POST"</span><span class="pun">,</span><span class="pln">
    </span><span class="pun">{</span><span class="pln">
        </span><span class="str">"message"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"This is a test message"</span><span class="pln">
    </span><span class="pun">},</span><span class="pln">
    </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><span class="kwd">if</span><span class="pln"> </span><span class="pun">(</span><span class="pln">response </span><span class="pun">&amp;&amp;</span><span class="pln"> </span><span class="pun">!</span><span class="pln">response</span><span class="pun">.</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="com">/* handle the result */</span><span class="pln">
      </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">);</span></code></pre><pre style="" class="_5gt1 prettyprint lang-java prettyprinted hidden_elem" id="u_0_19"><code><span class="typ">Bundle</span><span class="pln"> params </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">Bundle</span><span class="pun">();</span><span class="pln">
params</span><span class="pun">.</span><span class="pln">putString</span><span class="pun">(</span><span class="str">"message"</span><span class="pun">,</span><span class="pln"> </span><span class="str">"This is a test message"</span><span class="pun">);</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
</span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">(</span><span class="pln">
    </span><span class="typ">AccessToken</span><span class="pun">.</span><span class="pln">getCurrentAccessToken</span><span class="pun">(),</span><span class="pln">
    </span><span class="str">"/{post-id}"</span><span class="pun">,</span><span class="pln">
    params</span><span class="pun">,</span><span class="pln">
    </span><span class="typ">HttpMethod</span><span class="pun">.</span><span class="pln">POST</span><span class="pun">,</span><span class="pln">
    </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">GraphRequest</span><span class="pun">.</span><span class="typ">Callback</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="kwd">public</span><span class="pln"> </span><span class="kwd">void</span><span class="pln"> onCompleted</span><span class="pun">(</span><span class="typ">GraphResponse</span><span class="pln"> response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
            </span><span class="com">/* handle the result */</span><span class="pln">
        </span><span class="pun">}</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">).</span><span class="pln">executeAsync</span><span class="pun">();</span></code></pre><pre style="" class="_5gt1 prettyprint lang-m prettyprinted hidden_elem" id="u_0_1a"><code><span class="com">// For more complex open graph stories, use `FBSDKShareAPI`</span><span class="pln">
</span><span class="com">// with `FBSDKShareOpenGraphContent`</span><span class="pln">
</span><span class="typ">NSDictionary</span><span class="pln"> </span><span class="pun">*</span><span class="pln">params </span><span class="pun">=</span><span class="pln"> </span><span class="pun">@{</span><span class="pln">
  </span><span class="pun">@</span><span class="str">"message"</span><span class="pun">:</span><span class="pln"> </span><span class="pun">@</span><span class="str">"This is a test message"</span><span class="pun">,</span><span class="pln">
</span><span class="pun">};</span><span class="pln">
</span><span class="com">/* make the API call */</span><span class="pln">
</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> </span><span class="pun">*</span><span class="pln">request </span><span class="pun">=</span><span class="pln"> </span><span class="pun">[[</span><span class="typ">FBSDKGraphRequest</span><span class="pln"> alloc</span><span class="pun">]</span><span class="pln">
                               initWithGraphPath</span><span class="pun">:@</span><span class="str">"/{post-id}"</span><span class="pln">
                                      parameters</span><span class="pun">:</span><span class="pln">params
                                      </span><span class="typ">HTTPMethod</span><span class="pun">:@</span><span class="str">"POST"</span><span class="pun">];</span><span class="pln">
</span><span class="pun">[</span><span class="pln">request startWithCompletionHandler</span><span class="pun">:^(</span><span class="typ">FBSDKGraphRequestConnection</span><span class="pln"> </span><span class="pun">*</span><span class="pln">connection</span><span class="pun">,</span><span class="pln">
                                      id result</span><span class="pun">,</span><span class="pln">
                                      </span><span class="typ">NSError</span><span class="pln"> </span><span class="pun">*</span><span class="pln">error</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="com">// Handle the result</span><span class="pln">
</span><span class="pun">}];</span></code></pre></div></div><h3 id="updateperms">Permissions</h3>

<ul><li>A user access token with <code>publish_actions</code> <a href="/docs/authentication/permissions/">permission</a>.</li>
</ul><h3 id="updatefields">Fields</h3>

<p>You can update the fields listed in the <strong>Publishing</strong> sections of the <a href="/docs/graph-api/reference/user/feed"><code>/{user-id}/feed</code></a>, <a href="/docs/graph-api/reference/page/feed"><code>/{page-id}/feed</code></a>, <a href="/docs/graph-api/reference/event/feed"><code>/{event-id}/feed</code></a>, or <a href="/docs/graph-api/reference/group/feed"><code>/{group-id}/feed</code></a> edges.</p>

<h3 id="updateresponse">Response</h3>

<p>If successful:</p>

<div><pre style="" class="prettyprint prettyprinted"><code><span class="pun">{</span><span class="pln">
  </span><span class="str">"success"</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">true</span><span class="pln">
</span><span class="pun">}</span></code></pre></div><p>Otherwise a relevant error message will be returned.</p></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div><div class="_4-u2 _57mb _3fw6 _4-u8 _3la3"><div class="_4-u3 _588p"><div class="_604"><h2 id="edges">Edges</h2><div class="_57-c"><table class="_4-ss _5k9x"><thead><tr><th>Name</th><th>Description</th></tr></thead><tbody class="_5m37" id="u_0_1d"><tr class="row_0"><td><p><a href="/docs/graph-api/reference/object/likes"><code>/likes</code></a></p></td><td><p>People who like this post.</p></td></tr><tr class="row_1 _5m29"><td><p><a href="/docs/graph-api/reference/object/comments"><code>/comments</code></a></p></td><td><p>Comments on this post.</p></td></tr><tr class="row_2"><td><p><a href="/docs/graph-api/reference/object/sharedposts"><code>/sharedposts</code></a></p></td><td><p>Shares of this post.</p></td></tr><tr class="row_3 _5m29"><td><p><a href="/docs/graph-api/reference/insights"><code>/insights</code></a></p></td><td><p>Insights for this post (only for Pages).</p></td></tr><tr class="row_4"><td><p><a href="/docs/graph-api/reference/attachment"><code>/attachments</code></a></p></td><td><p>All media attachments associated with this post.</p></td></tr></tbody></table></div></div><div data-click-area="to_top_nav"><a href="#" class="_2k32" data-reactroot=""><i class="img sp_6G4UZqKYSU1 sx_625d97"></i></a></div></div></div></div>
