<section id="main-content">

      <div class="twelve columns">
        <div id="content">
          <h1 id="line-items-api">Line Items API</h1>

<h2 id="create">Create</h2>

<p class="api_description">To create a new line item, make a request like this:</p>

<pre><div class="api_endpoint"><code>POST /api/orders/R1234567/line_items?line_item[variant_id]=1&amp;line_item[quantity]=1
  </code></div></pre>

<p class="api_description">This will create a new line item representing a single item for the variant with the id of 1.</p>

<h3 id="response">Response</h3>

<pre class="headers no-response"><code>Status: 201 Created</code></pre>

<pre class="highlight"><code class="language-javascript">{
  "id": 1,
  "quantity": 2,
  "price": "19.99",
  "single_display_amount": "$19.99",
  "total": "39.99",
  "display_total": "$39.99",
  "variant_id": 1,
  "variant": {
    "id": 1,
    "name": "Ruby on Rails Tote",
    "sku": "ROR-00011",
    "price": "15.99",
    "display_price": "$15.99",
    "weight": null,
    "height": null,
    "width": null,
    "depth": null,
    "is_master": true,
    "cost_price": "13.0",
    "permalink": "ruby-on-rails-tote",
    "description": "A text description of the product.",
    "options_text": "(Size: small, Colour: red)",
    "in_stock": true,
    "option_values": [
      {
        "id": 1,
        "name": "Small",
        "presentation": "S",
        "option_type_name": "tshirt-size",
        "option_type_id": 1
      }
    ],
    "images": [
      {
        "id": 1,
        "position": 1,
        "attachment_content_type": "image/jpg",
        "attachment_file_name": "ror_tote.jpeg",
        "type": "Spree::Image",
        "attachment_updated_at": null,
        "attachment_width": 360,
        "attachment_height": 360,
        "alt": null,
        "viewable_type": "Spree::Variant",
        "viewable_id": 1,
        "mini_url": "/spree/products/1/mini/file.png?1370533476",
        "small_url": "/spree/products/1/small/file.png?1370533476",
        "product_url": "/spree/products/1/product/file.png?1370533476",
        "large_url": "/spree/products/1/large/file.png?1370533476"
      }
    ]
  }
}</code></pre>

<h2 id="update">Update</h2>

<p class="api_description">To update the information for a line item, make a request like this:</p>

<pre><div class="api_endpoint"><code>PUT /api/orders/R1234567/line_items/1?line_item[variant_id]=1&amp;line_item[quantity]=1
  </code></div></pre>

<p>This request will update the line item with the ID of 1 for the order, updating the line itemâ€&trade;s <code>variant_id</code> to 1, and its <code>quantity</code> 1.</p>

<h3 id="response-1">Response</h3>

<pre class="headers"><code>Status: 200 OK</code></pre>

<pre class="highlight"><code class="language-javascript">{
  "id": 1,
  "quantity": 2,
  "price": "19.99",
  "single_display_amount": "$19.99",
  "total": "39.99",
  "display_total": "$39.99",
  "variant_id": 1,
  "variant": {
    "id": 1,
    "name": "Ruby on Rails Tote",
    "sku": "ROR-00011",
    "price": "15.99",
    "display_price": "$15.99",
    "weight": null,
    "height": null,
    "width": null,
    "depth": null,
    "is_master": true,
    "cost_price": "13.0",
    "permalink": "ruby-on-rails-tote",
    "description": "A text description of the product.",
    "options_text": "(Size: small, Colour: red)",
    "in_stock": true,
    "option_values": [
      {
        "id": 1,
        "name": "Small",
        "presentation": "S",
        "option_type_name": "tshirt-size",
        "option_type_id": 1
      }
    ],
    "images": [
      {
        "id": 1,
        "position": 1,
        "attachment_content_type": "image/jpg",
        "attachment_file_name": "ror_tote.jpeg",
        "type": "Spree::Image",
        "attachment_updated_at": null,
        "attachment_width": 360,
        "attachment_height": 360,
        "alt": null,
        "viewable_type": "Spree::Variant",
        "viewable_id": 1,
        "mini_url": "/spree/products/1/mini/file.png?1370533476",
        "small_url": "/spree/products/1/small/file.png?1370533476",
        "product_url": "/spree/products/1/product/file.png?1370533476",
        "large_url": "/spree/products/1/large/file.png?1370533476"
      }
    ]
  }
}</code></pre>

<h2 id="delete">Delete</h2>

<p class="api_description">To delete a line item, make a request like this:</p>

<pre><div class="api_endpoint"><code>DELETE /api/orders/R1234567/line_items/1
  </code></div></pre>

<h3 id="response-2">Response</h3>

<pre class="headers no-response"><code>Status: 204 No Content</code></pre>

        </div>
      </div>

    </section>
