<article class="linkedin-tabbed-list">
<div class="component-section-headline-group">
<p class="component-section-headline">How would you like to Share on LinkedIn?</p>
</div>
<div class="filter-bar group"><nav class="filter"><ul class="filter-navigation-links"><li><div class="filter-link tab-link active" data-control-name="restapi" title="View REST API">
REST API
</div></li><li><div class="filter-link tab-link " data-control-name="javascriptsdk" title="View JavaScript SDK">
JavaScript SDK
</div></li><li><div class="filter-link tab-link " data-control-name="androidsdk" title="View Android SDK">
Android SDK
</div></li><li><div class="filter-link tab-link " data-control-name="customizedurl" title="View Customized URL">
Customized URL
</div></li><li><div class="filter-link tab-link " data-control-name="plugins" title="View Plugins">
Plugins
</div></li><li><div class="filter-link tab-link " data-control-name="iossdk" title="View iOS SDK">
iOS SDK
</div></li></ul></nav></div>
<ul class="tabbed-list-sections component-list">
<li class="tab linkedin-list-item component-container restapi active">
<div class="parsys resource_1"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Before you get started â€¦</p>
<div class="resource-paragraph rich-text">
<p>Please make sure to read the <a href="/docs/rest-api">Getting
Started with the REST API</a> guide.&nbsp; It contains important
information to successfully share content with LinkedIn from within
your application.</p>
<p>There are two methods for sharing content via the REST API.&nbsp; The API
endpoint is the same, regardless of the method you choose&nbsp;&mdash; only the
format of the request body differs.<br></p>
<ol>
<li>Post a comment that includes a URL to the content you wish to
share &mdash; LinkedIn analyzes the included URL and automatically
identifies the title, description, image, etc.</li>
<li>Share with specific values &mdash; You provide the title, description,
image, etc., directly via the parameters of the API call.<br></li></ol>
</div>
</div>
</div>
<div class="resourceEndpoint section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceendpoint"></a></div>
<div class="resource-endpoint-section">
<table>
<tbody>
<tr>
<td class="method">
POST
</td>
<td class="endpoint">
<div class="api_endpoint"><pre class="url"><code>https://api.linkedin.com/v1/people/~/shares?format=json</code></pre></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="resourceTable section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcetable"></a></div>
<div class="resource-table-section header-row">
<p class="resource-paragraph-heading">Request body</p>
<p class="resource-paragraph-subheading"></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td><td>&nbsp;</td><td>Field Description</td><td>Max Length (chars)</td></tr>
<tr>
<td>content</td><td>&nbsp;</td><td>A collection of fields describing
the shared content.</td><td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td><td>title</td><td>The title of the content being shared.<br></td><td>200</td></tr>
<tr>
<td>&nbsp;</td><td>description</td><td>The description of the content
being shared.</td><td>256</td></tr>
<tr>
<td>&nbsp;</td><td>submitted-url</td><td>A fully qualified URL for the
content being shared.<br></td><td>n/a</td></tr>
<tr>
<td>&nbsp;</td><td>submitted-image-url</td><td>A fully qualified URL to
a thumbnail image to accompany the shared content.<br>
<br> The image should be at least 80 x 150px for best results.<br></td><td>n/a</td></tr>
<tr>
<td>comment<br></td><td>&nbsp;</td><td><p>A comment by the member to
associated with the share.<br> &nbsp;</p>
<p>If none of the above content parameters are provided, the
comment must contain a URL to the content you want to share.&nbsp;
If the comment contains multiple URLs, only the first one will
be analyzed for content to share.<br></p></td><td>700</td></tr>
<tr>
<td>visibility</td><td>&nbsp;</td><td>A collection of visibility
information about the share.<br></td><td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td><td>code</td><td><p>One of the following values:</p>
<ul>
<li>anyone:&nbsp; Share will be visible to all members.</li>
<li>connections-only:&nbsp; Share will only be visible to
connections of the member performing the share.<br> &nbsp;</li></ul>
<p>This field is required in all sharing calls.<br></p></td><td>n/a</td></tr></tbody></table>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_10"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Share via a comment containing a URL</p>
<div class="resource-paragraph rich-text">
<p>To share content on LinkedIn by referencing a URL in a comment, only
the <span class="monospace">comment</span> and <span class="monospace">visibility</span> parameters are required in the
body of the request:<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_2"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">JSON</figcaption>
<pre class="code language-javascript"><code>{
  "comment": "Check out developer.linkedin.com! http://linkd.in/1FC2PyG",
  "visibility": {
    "code": "anyone"
  }
}</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_11"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>If you opt to provide a JSON-formatted body, make sure your HTTP
request includes the following headers:</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_5"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Required HTTP headers for JSON body</figcaption>
<pre class="code language-http"><code>Content-Type: application/json
x-li-format: json</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_12"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>Alternatively, you can supply the body in the following XML format
with no additional HTTP headers required:&nbsp;</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_6"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">XML POST body</figcaption>
<pre class="code language-markup"><code>&lt;share&gt;
  &lt;comment&gt;Check out developer.linkedin.com! http://linkd.in/1FC2PyG&lt;/comment&gt;
  &lt;visibility&gt;
    &lt;code&gt;anyone&lt;/code&gt;
  &lt;/visibility&gt;
&lt;/share&gt;</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_5"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Share with specific values</p>
<div class="resource-paragraph rich-text">
<p>If your application has all of the information about the content that
you want to share, the best way to share it is by providing those
values directly in the API call:<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_0"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">JSON POST body</figcaption>
<pre class="code language-javascript"><code>{
  "comment": "Check out developer.linkedin.com!",
  "content": {
    "title": "LinkedIn Developers Resources",
    "description": "Leverage LinkedIn's APIs to maximize engagement",
    "submitted-url": "https://developer.linkedin.com",  
    "submitted-image-url": "https://example.com/logo.png"
  },
  "visibility": {
    "code": "anyone"
  }  
}</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_9"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>To share content with a JSON-formatted body, make sure your HTTP
request includes the following headers:</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_4"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Required HTTP headers for JSON body</figcaption>
<pre class="code language-http"><code>Content-Type: application/json
x-li-format: json</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_6"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>Alternatively, you can supply the body in the following XML format
with no additional HTTP headers required:&nbsp;</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_3"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">XML POST body</figcaption>
<pre class="code language-markup"><code>&lt;share&gt;
  &lt;comment&gt;Check out developer.linkedin.com!&lt;/comment&gt;
  &lt;content&gt;
    &lt;title&gt;LinkedIn Developer Resources&lt;/title&gt;
    &lt;description&gt;Leverage LinkedIn's APIs to maximize engagement&lt;/description&gt;
    &lt;submitted-url&gt;https://developer.linkedin.com&lt;/submitted-url&gt;
    &lt;submitted-image-url&gt;https://example.com/logo.png&lt;/submitted-image-url&gt;
  &lt;/content&gt;
  &lt;visibility&gt;
    &lt;code&gt;anyone&lt;/code&gt;
  &lt;/visibility&gt;
&lt;/share&gt;</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_8"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Successful Response</p>
<div class="resource-paragraph rich-text">
<p>If your share request was successful, you will receive an <span class="monospace">HTTP 201</span> response code and the following
request body:<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Sample response</figcaption>
<pre class="code language-javascript"><code>{
  "updateKey": "UPDATE-3346389-595113200â€¦",
  "updateUrl": "https://www.linkedin.com/updates?discuss=â€¦&amp;scope=â€¦"
}</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_7"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>The <span class="monospace">updateKey</span> is a unique ID for the
shared content posting that was just created.&nbsp; The <span class="monospace">updateURL</span> value is a direct link to the newly
shared content on LinkedIn.com that you can direct the user's web
browser to.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Duplicate shares</p>
<div class="resource-paragraph rich-text">
<p>In order to prevent spam in the LinkedIn feed, you cannot repeatedly
post the same shared content.&nbsp; If you do, the API call will return
with an <span class="monospace">HTTP 400</span> error:</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_1"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language"></figcaption>
<pre class="code language-javascript"><code>{
  errorCode: 0, 
  message: "Do not post duplicate content", 
  requestId: "ABC123DEF", 
  status: 400, 
  timestamp: 1420102800000 
}</code></pre>
</figure>
</div>
</div>
</div>
</li>
<li class="tab linkedin-list-item component-container javascriptsdk ">
<div class="parsys resource_2"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourceparagraph"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Before you get started â€¦</p>
<div class="resource-paragraph rich-text">
<p>The JavaScript SDK allows you to share content on a member's LinkedIn
feed using JavaScript-based API calls.&nbsp; If you are looking for a quick
JavaScript-powered social sharing plugin for your website, please
visit the <a href="/docs/share-on-linkedin#methods">Plugin</a> section.<br></p>
<p>Please make sure to read the <a href="/docs/getting-started-js-sdk">Getting
Started with the JavaScript SDK</a> guide.&nbsp; It contains important
information to successfully share content with LinkedIn from within
your application.<br></p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourceparagraph_1"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 1 - Initialize the SDK</p>
<div class="resource-paragraph rich-text">
<p>In order to use any of the functionality provided by the JavaScript
SDK, it must be included in your webpage's <span class="monospace">&lt;head&gt;</span> section.&nbsp; Follow the directions
in the getting started guide to <a href="/docs/getting-started-js-sdk#initialize">initialize
the SDK</a>.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 2 - Authenticate the user</p>
<div class="resource-paragraph rich-text">
<p>Place the following special block in your HTML wherever you want the
"Sign in with LinkedIn" button to be rendered:<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">javascript</figcaption>
<pre class="code language-javascript"><code>&lt;script type="in/Login"&gt;&lt;/script&gt;</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourceparagraph_2"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>This will generate a button that looks like the image
below.&amp;nbsp; Note that the text on the button is presented in
English by default, but can be localized to other languages using the
<span class="monospace">lang</span> argument when <a href="/docs/getting-started-js-sdk#initialize">initializing
the SDK.</a></p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourceparagraph_3"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 3 - Handle async authentication &amp; share content</p>
<div class="resource-paragraph rich-text">
<p>When a user clicks the sign in button, a pop-up window containing the
LinkedIn authentication dialog will be presented.&nbsp; Once the user has
accepted the request and provided their LinkedIn account credentials,
the window will be dismissed and the SDK will perform the back-end
call to LinkedIn to silently complete the authentication process for
you.&nbsp; Since this request happens asynchronously, you must define a
function that will listen for an auth event to be thrown so that you
know that the authentication process has completed and that it is safe
for your application to make further API calls.</p>
<p>Use the <span>onLoad</span> argument in the SDK's <span>
<span class="monospace">&lt;script&gt;</span></span> block when you
<a href="/docs/getting-started-js-sdk#initialize">initialize
the SDK</a> to choose a function to execute once the SDK has
finished loading.&nbsp; This function should then setup the auth event
listener, as shown below.&nbsp; Once an auth event is thrown, it's safe to
use the SDK's generic API call wrapper, <span>
<span class="monospace">IN.API.Raw()</span></span>, to make a REST
API call to share content with LinkedIn on the member's behalf.</p>
<p>You can find additional details about what the <span class="monospace">POST</span> payloads for sharing content look like
on in the REST API documentation section of <a href="/docs/share-on-linkedin#methods">Share
with LinkedIn</a>.</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_2_resourcecode_0"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">javascript</figcaption>
<pre class="code language-javascript"><code>&lt;script type="text/javascript" src="//platform.linkedin.com/in.js"&gt;
  api_key: YOUR_API_KEY_HERE
  authorize: true
  onLoad: onLinkedInLoad
&lt;/script&gt;

&lt;script type="text/javascript"&gt;
    
  // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
      IN.Event.on(IN, "auth", shareContent);
    }

  // Handle the successful return from the API call
  function onSuccess(data) {
    console.log(data);
  }

  // Handle an error response from the API call
  function onError(error) {
    console.log(error);
  }

  // Use the API call wrapper to share content on LinkedIn
  function shareContent() {
        
    // Build the JSON payload containing the content to be shared
    var payload = { 
      "comment": "Check out developer.linkedin.com! http://linkd.in/1FC2PyG", 
      "visibility": { 
        "code": "anyone"
      } 
    };

    IN.API.Raw("/people/~/shares?format=json")
      .method("POST")
      .body(JSON.stringify(payload))
      .result(onSuccess)
      .error(onError);
  }

&lt;/script&gt;</code></pre>
</figure>
</div>
</div>
</div>
</li>
<li class="tab linkedin-list-item component-container androidsdk ">
<div class="parsys resource_3"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_3_resourceparagraph"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Before you get started â€¦</p>
<div class="resource-paragraph rich-text">
<p>Please make sure to read the <a href="/docs/android-sdk">Getting
Started with the Mobile SDK for Android</a> guide. It contains
important information to successfully incorporate applying in with
LinkedIn within your application.<br></p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_3_resourceparagraph_1"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 1 - Authenticate the user</p>
<div class="resource-paragraph rich-text">
<p>Authenticating a user in a mobile Android environment is described in
detail in the <a href="/docs/android-sdk-auth">Authenticating
using the Mobile SDK for Android</a> guide. Once you have
successfully authenticated your mobile user, you can continue to the
next step of the workflow.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_3_resourceparagraph_2"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 2 - Share content via API POST request</p>
<div class="resource-paragraph rich-text">
<p>Once your mobile users have authenticated or you have otherwise
established a <span class="monospace">LISession</span> on their
behalf, you can use the <span class="monospace">ApiHelper.postRequest()</span> method to <span class="monospace">POST</span> share data from your mobile application.<br></p>
<p>You can find additional details about what the <span class="monospace">POST</span> payloads for sharing content look like
on in the REST API documentation section of <a href="/docs/share-on-linkedin#methods">Share
with LinkedIn</a>.<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_3_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">java</figcaption>
<pre class="code language-java"><code>String url = "https://api.linkedin.com/v1/people/~/shares";

String payload = "{" +
    "\"comment\":\"Check out developer.linkedin.com! " +
    "http://linkd.in/1FC2PyG\"," +
    "\"visibility\":{" +
    "    \"code\":\"anyone\"}" +
    "}";
                
APIHelper apiHelper = APIHelper.getInstance(getApplicationContext());
APIHelper.postRequest(this, url, payload, new ApiListener() {
    @Override
    public void onApiSuccess(ApiResponse apiResponse) {
        // Success!
    }

    @Override
    public void onApiError(LIApiError liApiError) {
        // Error making POST request!
    }
});</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_3_resourceparagraph_0"></a></div>
</div>
</div>
</li>
<li class="tab linkedin-list-item component-container customizedurl ">
<div class="parsys resource_4"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_4_resourceparagraph"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>By presenting your users with a simple parameterized link, they will
be able to share relevant articles to their LinkedIn network without
requiring you to do any customized programming.&nbsp;</p>
<p>When clicked, the user will be taken to a sharing page on
linkedin.com, pre-populated with the values you provide in the link &mdash;
where they will still have to confirm the sharing action.&nbsp; If the user
is not logged into LinkedIn at the time, they will have to login
before the article can be shared.&nbsp;</p>
<p>This link can be opened in the current window, a new window or a
pop-up that is sized to 520 x 570px &mdash; whichever best suits website's layout.</p>
</div>
</div>
</div>
<div class="resourceEndpoint section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_4_resourceendpoint"></a></div>
<div class="resource-endpoint-section">
<table>
<tbody>
<tr>
<td class="method">
GET
</td>
<td class="endpoint">
<div class="api_endpoint"><pre class="url"><code>https://www.linkedin.com/shareArticle</code></pre></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="resourceTable section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_4_resourcetable"></a></div>
<div class="resource-table-section header-row">
<p class="resource-paragraph-heading">Request parameters</p>
<p class="resource-paragraph-subheading"></p>
<div class="api_parameter_name"><table>
<tbody>
<tr>
<td>Parameter</td><td>Description</td><td>Max&nbsp; Length</td><td>Required</td></tr>
<tr>
<td class="api_parameter_name">url</td><td class="api_parameter_desc">The url-encoded URL of the page that you wish to share.<br></td><td>1024</td><td>Yes</td></tr>
<tr>
<td class="api_parameter_name">mini</td><td class="api_parameter_desc">A required argument who's value must always be:&nbsp; true</td><td>4</td><td>Yes</td></tr>
<tr>
<td class="api_parameter_name">title</td><td class="api_parameter_desc">The url-encoded title value that you wish you use.<br></td><td>200</td><td>No</td></tr>
<tr>
<td class="api_parameter_name">summary</td><td class="api_parameter_desc">The url-encoded description that you wish you use.</td><td>256</td><td>No</td></tr>
<tr>
<td class="api_parameter_name">source</td><td class="api_parameter_desc"><p>The url-encoded source of the content (e.g.
  your website or application name)</p></td><td>200</td><td>No</td></tr></tbody></table></div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_4_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>Here is a complete example of what a complete LinkedIn content
sharing URL might look like:</p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_4_resourcecode_0"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Example sharing url</figcaption>
<pre class="code language-"><div class="api_endpoint"><code>https://www.linkedin.com/shareArticle?mini=true&amp;url=http://developer.linkedin.com&amp;title=LinkedIn%20Developer%20Network
  &amp;summary=My%20favorite%20developer%20program&amp;source=LinkedIn</code></div></pre>
</figure>
</div>
</div>
</div>
</li>
<li class="tab linkedin-list-item component-container plugins ">
<div class="parsys resource_5"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_5_resourceparagraph"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Easy social sharing on LinkedIn</p>
<div class="resource-paragraph rich-text">
<p>Using our sharing plugin is simple way to add a LinkedIn social
sharing widget to your webpage.<br></p>
</div>
</div>
</div>
<div class="resourceImageBlock section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_5_resourceimageblock"></a></div>
<ul class="resource-image-block single">
<li class="resource-image">
<img width="77" height="78" src="//content.linkedin.com/content/dam/developer/global/en_US/site/img/share-plugin-example.png" alt="Share plugin example" pagespeed_url_hash="563296431" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</li>
</ul>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_5_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>Use the <a href="/plugins/share">Share
Plugin Generator</a> to generate customized Javascript code that you
can drop into your HTML so that you can be sharing your content on
LinkedIn within minutes.</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</li>
<li class="tab linkedin-list-item component-container iossdk ">
<div class="parsys resource_6"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_6_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Before you get started â€¦</p>
<div class="resource-paragraph rich-text">
<p>Please make sure to read the <a href="/docs/ios-sdk">Getting
Started with the Mobile SDK for iOS</a> guide. It contains important
information to successfully incorporate applying in with LinkedIn
within your application.<br></p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_6_resourceparagraph"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 1 - Authenticate the user</p>
<div class="resource-paragraph rich-text">
<p>Authenticating a user in a mobile iOS environment is described in
detail in the <a href="/docs/ios-sdk-auth">Authenticating
using the Mobile SDK for iOS</a> guide. Once you have successfully
authenticated your mobile user, you can continue to the next step of
the workflow.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_6_resourceparagraph_1"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 2 - Share content via API POST request</p>
<div class="resource-paragraph rich-text">
<p>Once your mobile users have authenticated or you have otherwise
established a <span class="monospace">LISession</span> on their
behalf, you can use the <span class="monospace">ApiHelper.postRequest()</span> method to <span class="monospace">POST</span> share data from your mobile application.<br></p>
<p>You can find additional details about what the <span class="monospace">POST</span> payloads for sharing content look like
on in the REST API documentation section of <a href="/docs/share-on-linkedin#methods">Share
with LinkedIn</a>.<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_6_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Objective-C</figcaption>
<pre class="code language-objectivec"><code>NSString *url = [NSString initWithString:@"https://api.linkedin.com/v1/people/~/shares"];

NSString *payload = [NSString initWithString:@"{
    \"comment\":\"Check out developer.linkedin.com! http://linkd.in/1FC2PyG\",
    \"visibility\":{ \"code\":\"anyone\" }
}"];

if ([LISDKSessionManager hasValidSession]) {
    [[LISDKAPIHelper sharedInstance] postRequest:url stringBody:payload
    success:^(LISDKAPIResponse *response) {
        // do something with response
    }
    error:^(LISDKAPIError *apiError) {
        // do something with error
    }];
]}</code></pre>
</figure>
</div>
</div>
</div>
</li>
</ul>
</article>
