<body><li class="tab linkedin-list-item component-container restapi active">
<div class="parsys resource_1"><div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_2"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Before you get started â€¦</p>
<div class="resource-paragraph rich-text">
<p>Please make sure to read the <a href="/docs/rest-api">Getting
Started with the REST API</a> guide.&nbsp; It contains important
information to successfully incorporate signing in with LinkedIn
within your application.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_5"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 1 - Authenticate the user</p>
<div class="resource-paragraph rich-text">
<p>The bulk of the work required to Sign In with LinkedIn is completed
when you authenticate the current user.&nbsp; If you do not have a
previously stored access token the for the current user, follow the
steps outlined in the <a href="/docs/oauth2">Authenticating
with OAuth 2.0 Guide</a> to acquire a new access token that can be
used in the next step of the Sign In process.</p>
<p>If required, you can download official LinkedIn button images to you
in your project from the <a href="#images">Image Resources</a> section.<br></p>
<p>See <a href="#permissionslimits">Permissions and Limits</a> to ensure
that your application is requesting the correct member permissions for
this API call during the OAuth 2.0 authentication process.<br></p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_6"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Step 2 - Retrieve basic profile data</p>
<div class="resource-paragraph rich-text">
<p class="api_description">Once you have obtained a valid access token for the user, you can use
the following REST API call to retrieve basic profile data for the user:<br></p>
</div>
</div>
</div>
<div class="resourceEndpoint section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceendpoint"></a></div>
<div class="resource-endpoint-section">
<table>
<tbody>
<tr>
<td class="method">
GET
</td>
<td class="endpoint">
<div class="api_endpoint"><pre class="url"><code>https://api.linkedin.com/v1/people/~?format=json</code></pre></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Sample API response</figcaption>
<pre class="code language-javascript"><code>{
  "firstName": "Frodo",
  "headline": "2nd Generation Adventurer",
  "id": "1R2RtA",
  "lastName": "Baggins",
  "siteStandardProfileRequest": {
    "url": "https://www.linkedin.com/profile/view?id=â€¦"
  }
}</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_1"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>With this basic profile information in hand, the sign in process can
be considered complete and its time for your application to continue
the user experience.</p>
</div>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_0"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Requesting additional profile fields</p>
<div class="resource-paragraph rich-text">
<p>LinkedIn does not return all possible member profile fields that are
available to you by default.&nbsp; There is a limited selection of
additional member fields that are also available to you which may be
relevant to your application.&nbsp; Refer to the <a href="/docs/fields/basic-profile">Basic
Profile Fields</a> page for a complete list of the basic member
profile fields.&nbsp;</p>
<p>The following example demonstrates how to customize your API call to
request specific member profile fields that you wish to be returned
during the Sign In with LinkedIn workflow:</p>
</div>
</div>
</div>
<div class="resourceEndpoint section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceendpoint_0"></a></div>
<div class="resource-endpoint-section">
<table>
<tbody>
<tr>
<td class="method">
GET
</td>
<td class="endpoint">
<pre class="url"><div class="api_endpoint"><code>https://api.linkedin.com/v1/people/~:(id,num-connections,picture-url)?format=json</code></div></pre>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_0"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">sample api response</figcaption>
<pre class="code language-javascript"><code>{
  "id": "1R2RtA",
  "numConnections": 42,
  "pictureUrl": "https://media.licdn.com/mpr/mprx/â€¦"
}</code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_3"></a></div>
<div class="resource-text-section">
<p class="resource-paragraph-heading">Requesting alternate profile languages</p>
<div class="resource-paragraph rich-text">
<p>LinkedIn members have the opportunity to provide their profile
information in multiple languages. To specify the language you would
prefer to have returned, you include an <span class="monospace">Accept-Language</span> HTTP header with your call.&nbsp;
The value of the header should be a comma separated list of <a href="/docs/reference/language-codes">Language
Codes</a>, ordered from highest to lowest priority of preference.</p>
<p>Be aware that these are not localized or automatically translated
values.&nbsp; The only non-English information available is information
that was manually entered by the member.<br></p>
</div>
</div>
</div>
<div class="resourceCode section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourcecode_1"></a></div>
<div class="code-section">
<figure class="code-block">
<figcaption class="language">Sample http header</figcaption>
<pre class="code language-http"><code>Accept-Language: es-ES, en-US, it-IT </code></pre>
</figure>
</div>
</div>
<div class="resourceParagraph section">
<div class="component-anchor-container"><a class="component-anchor" name="content-par_componenttabbedlist_resource_1_resourceparagraph_4"></a></div>
<div class="resource-text-section">
<div class="resource-paragraph rich-text">
<p>The header value is not strictly enforced, so the API will always try
to return data whenever possible.&nbsp; If you specify a particular
language and the member doesn't have matching profile data, it will
fall back to returning data in the member's primary language rather
than returning nothing at all.</p>
</div>
</div>
</div>
</div>
</li>
</body>
