<div id="markdown" class="container "><div class="row"><div id="docs-homenav" class="column-1-4 side_nav" data-swiftype-index="false"><ul id="doc_menu"><li><select id="nav-select"><optgroup label="Voice, SMS, and MMS"><option value="/docs/api/rest" selected="true">
							Twilio REST API
						</option><option value="/docs/api/lookups">
							Lookups REST API
						</option><option value="/docs/api/pricing">
							Pricing REST API
						</option><option value="/docs/api/twiml">
							TwiML
						</option><option value="/docs/api/taskrouter">
							TaskRouter
						</option></optgroup><optgroup label="IP Communications"><option value="/docs/api/client">
							Twilio Client (VoIP)
						</option><option value="/docs/api/stun-turn">
							Network Traversal Service
						</option><option value="/docs/api/video">
							Programmable Video
						</option><option value="/docs/api/ip-messaging">
							IP Messaging
						</option></optgroup><optgroup label="SIP"><option value="/docs/api/twilio-sip">
							Twilio SIP
						</option><option value="/docs/api/sip-trunking">
							Elastic SIP Trunking
						</option></optgroup><optgroup label="Twilio Platform"><option value="/docs/api/monitor/events">
							Monitor REST API
						</option><option value="/docs/api/errors">
							Debugging Errors
						</option><option value="/docs/api/security">
							Security &amp; Availability
						</option></optgroup><optgroup label="Older Versions"><option value="/docs/api/2008-08-01">
							2008 REST &amp; TwiML API
						</option></optgroup></select></li><li id="dynamic-menu"><ul><li class="menu-title"><span class="heading">Usage</span></li><ul><li><a href="/docs/api/rest">
								Overview
															</a></li><li><a href="/docs/api/rest/request">
								Your Request
															</a></li><li><a href="/docs/api/rest/response">
								Twilio's Response
															</a></li><li><a href="/docs/api/rest/making-calls">
								Make Calls
															</a></li><li><a href="/docs/api/rest/sending-messages">
								Send SMS &amp; MMS Messages
															</a></li><li><a href="/docs/api/rest/sending-messages-copilot">
								Sending Messages with Copilot
															</a></li></ul><li class="menu-title"><span class="heading">Resources</span></li><ul><li><a href="/docs/api/rest/account">
								Accounts
															</a></li><li><a href="/docs/api/rest/addresses">
								Addresses
															</a></li><li><a href="/docs/api/rest/keys" class="active">
								API Keys
															</a></li><li><a href="/docs/api/rest/applications">
								Applications (TwiML)
															</a></li><li><a href="/docs/api/rest/available-phone-numbers">
								Available Phone Numbers
															</a></li><li><a href="/docs/api/rest/call">
								Calls
															</a></li><li><a href="/docs/api/rest/call-feedback">
								Call Feedback
															</a></li><li><a href="/docs/api/rest/conference">
								Conferences
															</a></li><li class="indent"><a href="/docs/api/rest/participant">
								Participants
															</a></li><li><a href="/docs/api/rest/incoming-phone-numbers">
								Incoming Phone Numbers
															</a></li><li><a href="/docs/api/rest/message">
								Messages
															</a></li><li class="indent"><a href="/docs/api/rest/media">
								Media
															</a></li><li><a href="/docs/api/rest/outgoing-caller-ids">
								Outgoing Caller IDs
															</a></li><li><a href="/docs/api/rest/queue">
								Queues
															</a></li><li class="indent"><a href="/docs/api/rest/member">
								Members
															</a></li><li><a href="/docs/api/rest/recording">
								Recordings
															</a></li><li><a href="/docs/api/rest/short-codes">
								Short Codes
															</a></li><li><a href="/docs/api/rest/token">
								Tokens (NAT Traversal)
															</a></li><li><a href="/docs/api/rest/transcription">
								Transcriptions
															</a></li><li><a href="/docs/api/rest/usage-records">
								Usage Records
															</a></li><li><a href="/docs/api/rest/usage-triggers">
								Usage Triggers
															</a></li></ul><li class="menu-title"><span class="heading">SIP Resources</span></li><ul><li><a href="/docs/api/rest/credential">
								Credentials
															</a></li><li><a href="/docs/api/rest/credential-list">
								Credential Lists
															</a></li><li><a href="/docs/api/rest/credential-list-mapping">
								Credential List Mappings
															</a></li><li><a href="/docs/api/rest/domain">
								Domains
															</a></li><li><a href="/docs/api/rest/ip-access-control-list">
								IP Access Control Lists
															</a></li><li><a href="/docs/api/rest/ip-access-control-list-mapping">
								IP Access Control List Mappings
															</a></li><li><a href="/docs/api/rest/ip-address">
								IP Address
															</a></li></ul><li class="menu-title"><span class="heading">Twilio Connect Resources</span></li><ul><li><a href="/docs/api/rest/authorized-connect-apps">
								Authorized Connect Apps
															</a></li><li><a href="/docs/api/rest/connect-apps">
								Connect Apps
															</a></li></ul><li class="menu-title"><span class="heading">Advanced Usage</span></li><ul><li><a href="/docs/api/rest/making-calls-sip">
								Make Calls with SIP
															</a></li><li><a href="/docs/api/rest/change-call-state">
								Change Call State
															</a></li><li><a href="/docs/api/rest/subaccounts">
								Group Usage with Subaccounts
															</a></li><li><a href="/docs/api/rest/test-credentials">
								Test Credentials
															</a></li><li><a href="/docs/api/rest/accepted-mime-types">
								Accepted MIME Types (MMS)
															</a></li><li><a href="/docs/api/rest/access-tokens">
								Access Tokens
															</a></li><li><a href="/docs/api/rest/connect-overview">
								Twilio Connect
															</a></li><li><a href="/docs/api/rest/tips">
								Tips &amp; Tricks
															</a></li></ul><li class="menu-title"><span class="heading">Deprecated Resources</span></li><ul><li><a href="/docs/api/rest/notification">
								Notifications
															</a></li><li><a href="/docs/api/rest/sms">
								SMS
															</a></li></ul></ul></li></ul><div id="signal-banner"><p class="sb-tease">Learn more with Workshops and Technical Sessions</p><hr><img class="sb-logo" src="/marketing/bundles/signal-2016/img/logo-signal.svg" alt="Signal Logo"><img class="sb-date" src="/marketing/bundles/docs/img/signal-2016-date.png"><div class="sb-bottom"><a href="/signal?utm_source=docs&amp;utm_medium=banner&amp;utm_content=landing&amp;utm_campaign=signal-banner" title="register for Twilio" target="_blank">Register</a></div></div></div><div id="documentation" class="column-3-4"><div id="md" class="docs "><h1>REST API: API Keys</h1><p>API Keys represent credentials to access the Twilio API.  They are
used for two purposes:</p><ul><li>to <a href="/docs/api/rest/request">authenticate to the REST API</a>.</li><li>to create and revoke <a href="/docs/api/rest/access-tokens">Access Tokens</a>,
which are short-lived credentials that can be used on untrusted
client devices to access Twilio's Real-Time Communications SDKs and
the REST API.</li></ul><p>API Keys can be provisioned and revoked through the REST API or the
Account Console, providing a powerful and flexible primitive for
managing access to the Twilio API.  For instance, you might issue
separate API Keys to different developers, or to different subsystems
within your application.  Since API Keys can be independently revoked,
you have complete control of the lifecycle of your API credentials.</p><h3 id="instance"><a href="#instance">API Key Instance Resource</a></h3><h4 id="instance-uri"><a href="#instance-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="http-request notranslate">https://api.twilio.com/2010-04-01/Accounts/{AccountSid}/Keys/{API KeySid}
</pre></div><h4 id="instance-properties"><a href="#instance-properties">Resource Properties</a></h4><p>An API Key is represented by the following properties:</p><table><thead><tr><th align="left">Property</th><th align="left">Description</th></tr></thead><tbody><tr><td align="left" class="notranslate">Sid</td><td align="left">A 34 character string that uniquely identifies this API Key.  You will use this as the basic-auth <code class="notranslate">user</code> when authenticating to the API.</td></tr><tr><td align="left" class="notranslate">FriendlyName</td><td align="left">A descriptive string for this resource, chosen by your application, up to 64 characters long.</td></tr><tr><td align="left" class="notranslate">Secret</td><td align="left">The secret your application uses to sign Access Tokens and to authenticate to the REST API (you will use this as the basic-auth <code class="notranslate">password</code>).  <br><strong>Note that for security reasons, this field is ONLY returned when the API Key is first created.</strong></td></tr><tr><td align="left" class="notranslate">DateCreated</td><td align="left">The date-time this API Key was created, given as a <a href="http://en.wikipedia.org/wiki/ISO_8601#UTC">UTC ISO 8601 Timestamp</a>.</td></tr><tr><td align="left" class="notranslate">DateUpdated</td><td align="left">The date-time this API Key was most recently updated, given as a <a href="http://en.wikipedia.org/wiki/ISO_8601#UTC">UTC ISO 8601 Timestamp</a>.</td></tr></tbody></table><h4 id="instance-get"><a href="#instance-get">HTTP GET</a></h4><p class="api_description">Returns a representation of the Key, including the properties above.</p><p><strong>Note that for security reasons, the <code class="notranslate">Secret</code> field is ONLY returned when the API Key is first created.</strong></p><h5 id="instance-get-example"><a href="#instance-get-example">Example</a></h5><p>An example API Key.  Note that the API Key's <code class="notranslate">Secret</code> field is
redacted; <code class="notranslate">Secret</code> fields are only returned when the API Key is
first created.</p><div class="md-code-sample" id="instance-get-example" data-title="Get API Key details" data-href="api/rest/keys/instance-get-example" data-pref="server"></div><h4 id="instance-post"><a href="#instance-post">HTTP POST</a></h4><p class="api_description">Attempts to update the fields of an API Key instance and returns the
updated resource representation if successful.  If successful, the
response will be identical to that of the HTTP GET.</p><h5 id="instance-post-optional-parameters"><a href="#instance-post-optional-parameters">Optional Parameters</a></h5><p>You may specify one or more of the following parameters to update this
API Key's properties:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">FriendlyName</td><td>A descriptive string for this resource, chosen by your application, up to 64 characters long.</td></tr></tbody></table><h4 id="instance-put"><a href="#instance-put">HTTP PUT</a></h4><p>Not supported.</p><h4 id="instance-delete"><a href="#instance-delete">HTTP DELETE</a></h4><p class="api_description">Delete an API Key.  This revokes its authorization to authenticate to
the REST API, and invalidates all Access Tokens generated using its
secret.</p><p>If the delete is successful, Twilio will return an HTTP 204 response with no
body.</p><p>Note that you may only delete Keys by authenticating with the
account's "master key" credentials - AccountSid and AuthToken.</p><h3 id="list"><a href="#list">API Keys List Resource</a></h3><h4 id="list-uri"><a href="#list-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="http-request notranslate">https://api.twilio.com/2010-04-01/Accounts/{AccountSid}/Keys
</pre></div><h4 id="list-get"><a href="#list-get">HTTP GET</a></h4><p class="api_description">Returns a list of API Keys in this account, sorted by DateUpdated.
This list includes <a href="response#response-formats-list-paging-information">paging information</a>.</p><p>All API Keys are included.</p><h5 id="list-get-example"><a href="#list-get-example">Example</a></h5><p>Retrieve all the API Keys in an account:</p><div class="md-code-sample" id="list-get-example" data-title="Get all API Keys" data-href="api/rest/keys/list-get-example" data-pref="server"></div><h4 id="list-post"><a href="#list-post">HTTP POST</a></h4><p>Creates a new API Key.</p><p>Note that you may only create new Keys by authenticating with the
account's "master key" credentials - AccountSid and AuthToken.</p><h5 id="list-post-optional-parameters"><a href="#list-post-optional-parameters">Optional Parameters</a></h5><p>Your request may include the following parameters:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">FriendlyName</td><td>A descriptive string for this resource, chosen by your application, up to 64 characters long.</td></tr></tbody></table><p>If successful, Twilio will respond with a representation of the new
API Key.  This representation will be exactly the same as that
returned by issuing a GET to the API Key's instance resource,
except that the <code class="notranslate">Secret</code> field will be included.</p><div class="alert">

For security reasons, the API Key's Secret is only returned here, when
the API Key is first created.  Your application should store the API
Key's Sid and Secret in a secure location to authenticate to the API
and generate Access Tokens in the future.

</div><h5 id="list-post-example"><a href="#list-post-example">Example</a></h5><p>Create an API Key with the FriendlyName "User Jenny".</p><div class="md-code-sample" id="list-post-example" data-title="Create an API Key" data-href="api/rest/keys/list-post-example" data-pref="server"></div><h4 id="list-put"><a href="#list-put">HTTP PUT</a></h4><p>Not supported.</p><h4 id="list-delete"><a href="#list-delete">HTTP DELETE</a></h4><p>Not supported.</p></div></div></div></div>
