<div id="documentation" class="column-3-4"><div id="md" class="docs "><h1>REST API: Media</h1><p>A <a href="#instance">Media instance resource</a> represents a piece of media, such as an image, associated with a message. Media can be generated on inbound or outbound messages.  When you <a href="sending-messages">send a message</a> with an image via Twilio or when you receive media, Twilio will create a Media instance resource and store the content.</p><p>Twilio will keep that media around until you issue an HTTP DELETE on that instance.  Twilio will store your first 5GB of media for free.  For more information on media storage check out the <a href="/sms/pricing">pricing page</a>.</p><p>Messages sent via Twilio can include up to 10 media files that have a total size of up to 5MB. Twilio will resize images as necessary for successful delivery based on carrier specifications. Messages with over 5MB of media will not be accepted.</p><p>The <a href="#list">Media list resource</a> represents a set of media associated with the message.</p><h3 id="instance"><a href="#instance">Media Instance Resource</a></h3><p>This resource represents an individual media item associated with a message.</p><h4 id="instance-uri"><a href="#instance-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="notranslate http-request">/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media/{MediaSid}
</pre></div><div class="alert">
Because these URLs are useful to many external applications, they are public and do not require HTTP Basic Auth to access. This allows you to easily embed the URL in a web application without revealing your Twilio API credentials. The URLs are long and difficult to guess, so the contents of the media should be private unless you distribute the URL.
</div><h4 id="instance-properties"><a href="#instance-properties">Resource Properties</a></h4><p>A Media resource is represented by the following properties:</p><table><thead><tr><th align="left">Property</th><th align="left">Description</th></tr></thead><tbody><tr><td align="left" class="notranslate">Sid</td><td align="left">A 34 character string that uniquely identifies this resource.</td></tr><tr><td align="left" class="notranslate">DateCreated</td><td align="left">The date that this resource was created, given in <a href="http://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822">RFC 2822</a> format.</td></tr><tr><td align="left" class="notranslate">DateUpdated</td><td align="left">The date that this resource was last updated, given in <a href="http://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822">RFC 2822</a> format.</td></tr><tr><td align="left" class="notranslate">AccountSid</td><td align="left">The unique id of the <a href="account">Account</a> responsible for this media.</td></tr><tr><td align="left" class="notranslate">ParentSid</td><td align="left">The uniqe id of the resource that created the media.</td></tr><tr><td align="left" class="notranslate">ContentType</td><td align="left">The default <a href="http://en.wikipedia.org/wiki/Internet_media_type">mime-type</a> of the media, for example <code class="notranslate">image/jpeg</code>, <code class="notranslate">image/png</code>, or <code class="notranslate">image/gif</code></td></tr><tr><td align="left" class="notranslate">Uri</td><td align="left">The URI for this resource, relative to <code class="notranslate">https://api.twilio.com</code></td></tr></tbody></table><h4 id="instance-get"><a href="#instance-get">HTTP GET</a></h4><p class="api_description">Returns a single media resource using one of several representations.</p><h5>Default: content-type</h5><p>Without an extension, the media is returned using the mime-type provided when the media was generated. For example:</p><div class="api_endpoint"><pre class="notranslate http-request">GET /2010-04-01/Accounts/AC.../Message/MM.../Media/ME557ce644e5ab84fa21cc21112e22c485
</pre></div><h5>Alternative: XML</h5><p>Appending ".xml" to the URI returns a familiar XML representation. For example:</p><div class="api_endpoint"><pre class="notranslate http-request">GET /2010-04-01/Accounts/AC.../Message/MM.../Media/ME557ce644e5ab84fa21cc21112e22c485.xml
</pre></div><pre class="notranslate http-request">    &lt;TwilioResponse&gt;
     &lt;Media&gt;
       &lt;Sid&gt;ME557ce644e5ab84fa21cc21112e22c485&lt;/Sid&gt;
       &lt;AccountSid&gt;ACda6f1e11047ebd6fe7a55f120be3a900&lt;/AccountSid&gt;
       &lt;ParentSid&gt;MM8dfedb55c129dd4d6bd1f59af9d11080&lt;/ParentSid&gt;
       &lt;Content-Type&gt;image/jpeg&lt;/Content-Type&gt;
       &lt;DateCreated&gt;Fri, 17 Jul 2009 01:52:49 +0000&lt;/DateCreated&gt;
       &lt;DateUpdated&gt;Fri, 17 Jul 2009 01:52:49 +0000&lt;/DateUpdated&gt;
    &lt;Uri&gt;/2010-04-01/Accounts/ACda6f1e11047ebd6fe7a55f120be3a900/Message/MM8dfedb55c129dd4d6bd1f59af9d11080/Media/ME557ce644e5ab84fa21cc21112e22c485.xml&lt;/Uri&gt;
     &lt;/Media&gt;
    &lt;/TwilioResponse&gt;
</pre><h5>Alternative: JSON</h5><p>Appending ".json" to the URI returns a familiar JSON representation. For example:</p><div class="api_endpoint"><pre class="notranslate http-request">GET /2010-04-01/Accounts/AC.../Message/MM.../Media/ME557ce644e5ab84fa21cc21112e22c485.json
</pre></div><pre class="notranslate http-request">    {
        "sid": "ME557ce644e5ab84fa21cc21112e22c485",
        "account_sid": "ACda6f1e11047ebd6fe7a55f120be3a900",
        "parent_sid": "MM8ff928b2451c0db925bd2d581f0fba79",
        "content-type": "image/jpeg",
        "date_created": "Fri, 26 Apr 2013 05:41:35 +0000",
        "date_updated": "Fri, 26 Apr 2013 05:41:35 +0000",
        "uri": "/2010-04-01/Accounts/ACda6f1e11047ebd6fe7a55f120be3a900/Message/MM8dfedb55c129dd4d6bd1f59af9d11080/Media/ME557ce644e5ab84fa21cc21112e22c485.json"
    }
</pre><h4 id="instance-post"><a href="#instance-post">HTTP POST</a></h4><p>Not supported.</p><h4 id="instance-put"><a href="#instance-put">HTTP PUT</a></h4><p>Not supported.</p><h4 id="instance-delete"><a href="#instance-delete">HTTP DELETE</a></h4><p>Deletes Media from your account. Once the media is deleted, you will no longer
be billed for this storage.</p><p>If successful, returns HTTP 204 (No Content) with no body.</p><h5 id="instance-delete-example-1"><a href="#instance-delete-example-1">Example</a></h5><div class="code-sample" data-href="instance-delete-example-1"></div><h3 id="list"><a href="#list">Media List Resource</a></h3><h4 id="list-uri"><a href="#list-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="notranslate http-request">/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media
</pre></div><h4 id="list-get"><a href="#list-get">HTTP GET</a></h4><p class="api_description">Returns a list of media associated with your message. The list includes
<a href="response#response-formats-list-paging-information">paging information</a>.</p><h5 id="list-get-filters"><a href="#list-get-filters">List Filters</a></h5><p>You may limit the list by providing certain query string parameters to the listing resource. Note, parameters are case-sensitive:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">DateCreated</td><td>Only show media created on the given date. Should be formatted as <code class="notranslate">YYYY-MM-DD</code>. You can also specify inequality, such as <code class="notranslate">DateCreated&lt;=YYYY-MM-DD</code> for media generated at or before midnight on a date, and <code class="notranslate">DateCreated&gt;=YYYY-MM-DD</code> for media generated at or after midnight on a date.</td></tr></tbody></table><h5 id="list-get-example-1"><a href="#list-get-example-1">Example</a></h5><p>Return the list of media associated with your message.</p><div class="code-sample" data-href="list-get-example-1"></div><h4 id="list-post"><a href="#list-post">HTTP POST</a></h4><p>Not supported.</p><h4 id="list-put"><a href="#list-put">HTTP PUT</a></h4><p>Not supported.</p><h4 id="list-delete"><a href="#list-delete">HTTP DELETE</a></h4><p>Not supported.</p></div></div>
