<body><div class="row"><div id="docs-homenav" class="column-1-4 side_nav" data-swiftype-index="false"><ul id="doc_menu"><li><select id="nav-select"><optgroup label="Voice, SMS, and MMS"><option value="/docs/api/rest" selected="true">
							Twilio REST API
						</option><option value="/docs/api/lookups">
							Lookups REST API
						</option><option value="/docs/api/pricing">
							Pricing REST API
						</option><option value="/docs/api/twiml">
							TwiML
						</option><option value="/docs/api/taskrouter">
							TaskRouter
						</option></optgroup><optgroup label="IP Communications"><option value="/docs/api/client">
							Twilio Client (VoIP)
						</option><option value="/docs/api/stun-turn">
							Network Traversal Service
						</option><option value="/docs/api/video">
							Programmable Video
						</option><option value="/docs/api/ip-messaging">
							IP Messaging
						</option></optgroup><optgroup label="SIP"><option value="/docs/api/twilio-sip">
							Twilio SIP
						</option><option value="/docs/api/sip-trunking">
							Elastic SIP Trunking
						</option></optgroup><optgroup label="Twilio Platform"><option value="/docs/api/monitor/events">
							Monitor REST API
						</option><option value="/docs/api/errors">
							Debugging Errors
						</option><option value="/docs/api/security">
							Security &amp; Availability
						</option></optgroup><optgroup label="Older Versions"><option value="/docs/api/2008-08-01">
							2008 REST &amp; TwiML API
						</option></optgroup></select></li><li id="dynamic-menu"><ul><li class="menu-title"><span class="heading">Usage</span></li><ul><li><a href="/docs/api/rest">
								Overview
															</a></li><li><a href="/docs/api/rest/request">
								Your Request
															</a></li><li><a href="/docs/api/rest/response">
								Twilio's Response
															</a></li><li><a href="/docs/api/rest/making-calls">
								Make Calls
															</a></li><li><a href="/docs/api/rest/sending-messages">
								Send SMS &amp; MMS Messages
															</a></li><li><a href="/docs/api/rest/sending-messages-copilot">
								Sending Messages with Copilot
															</a></li></ul><li class="menu-title"><span class="heading">Resources</span></li><ul><li><a href="/docs/api/rest/account">
								Accounts
															</a></li><li><a href="/docs/api/rest/addresses" class="active">
								Addresses
															</a></li><li><a href="/docs/api/rest/keys">
								API Keys
															</a></li><li><a href="/docs/api/rest/applications">
								Applications (TwiML)
															</a></li><li><a href="/docs/api/rest/available-phone-numbers">
								Available Phone Numbers
															</a></li><li><a href="/docs/api/rest/call">
								Calls
															</a></li><li><a href="/docs/api/rest/call-feedback">
								Call Feedback
															</a></li><li><a href="/docs/api/rest/conference">
								Conferences
															</a></li><li class="indent"><a href="/docs/api/rest/participant">
								Participants
															</a></li><li><a href="/docs/api/rest/incoming-phone-numbers">
								Incoming Phone Numbers
															</a></li><li><a href="/docs/api/rest/message">
								Messages
															</a></li><li class="indent"><a href="/docs/api/rest/media">
								Media
															</a></li><li><a href="/docs/api/rest/outgoing-caller-ids">
								Outgoing Caller IDs
															</a></li><li><a href="/docs/api/rest/queue">
								Queues
															</a></li><li class="indent"><a href="/docs/api/rest/member">
								Members
															</a></li><li><a href="/docs/api/rest/recording">
								Recordings
															</a></li><li><a href="/docs/api/rest/short-codes">
								Short Codes
															</a></li><li><a href="/docs/api/rest/token">
								Tokens (NAT Traversal)
															</a></li><li><a href="/docs/api/rest/transcription">
								Transcriptions
															</a></li><li><a href="/docs/api/rest/usage-records">
								Usage Records
															</a></li><li><a href="/docs/api/rest/usage-triggers">
								Usage Triggers
															</a></li></ul><li class="menu-title"><span class="heading">SIP Resources</span></li><ul><li><a href="/docs/api/rest/credential">
								Credentials
															</a></li><li><a href="/docs/api/rest/credential-list">
								Credential Lists
															</a></li><li><a href="/docs/api/rest/credential-list-mapping">
								Credential List Mappings
															</a></li><li><a href="/docs/api/rest/domain">
								Domains
															</a></li><li><a href="/docs/api/rest/ip-access-control-list">
								IP Access Control Lists
															</a></li><li><a href="/docs/api/rest/ip-access-control-list-mapping">
								IP Access Control List Mappings
															</a></li><li><a href="/docs/api/rest/ip-address">
								IP Address
															</a></li></ul><li class="menu-title"><span class="heading">Twilio Connect Resources</span></li><ul><li><a href="/docs/api/rest/authorized-connect-apps">
								Authorized Connect Apps
															</a></li><li><a href="/docs/api/rest/connect-apps">
								Connect Apps
															</a></li></ul><li class="menu-title"><span class="heading">Advanced Usage</span></li><ul><li><a href="/docs/api/rest/making-calls-sip">
								Make Calls with SIP
															</a></li><li><a href="/docs/api/rest/change-call-state">
								Change Call State
															</a></li><li><a href="/docs/api/rest/subaccounts">
								Group Usage with Subaccounts
															</a></li><li><a href="/docs/api/rest/test-credentials">
								Test Credentials
															</a></li><li><a href="/docs/api/rest/accepted-mime-types">
								Accepted MIME Types (MMS)
															</a></li><li><a href="/docs/api/rest/access-tokens">
								Access Tokens
															</a></li><li><a href="/docs/api/rest/connect-overview">
								Twilio Connect
															</a></li><li><a href="/docs/api/rest/tips">
								Tips &amp; Tricks
															</a></li></ul><li class="menu-title"><span class="heading">Deprecated Resources</span></li><ul><li><a href="/docs/api/rest/notification">
								Notifications
															</a></li><li><a href="/docs/api/rest/sms">
								SMS
															</a></li></ul></ul></li></ul><div id="signal-banner"><p class="sb-tease">Learn more with Workshops and Technical Sessions</p><hr><img class="sb-logo" src="/marketing/bundles/signal-2016/img/logo-signal.svg" alt="Signal Logo"><img class="sb-date" src="/marketing/bundles/docs/img/signal-2016-date.png"><div class="sb-bottom"><a href="/signal?utm_source=docs&amp;utm_medium=banner&amp;utm_content=landing&amp;utm_campaign=signal-banner" title="register for Twilio" target="_blank">Register</a></div></div></div><div id="documentation" class="column-3-4"><div id="md" class="docs "><h1>REST API: Addresses</h1><p>An Address instance resource represents your or your customerâ€&trade;s physical
location within a country.  Around the world, some local authorities require
the name and address of the user to be on file with Twilio to purchase and own
a phone number.</p><p>Addresses contain the name of your company or your customerâ€&trade;s
company in addition to location information and an optional friendly name. Each
Address created on an account or subaccount can be used for any phone numbers
purchased on that account. After creating an address, it can be used to satisfy
the requirements for multiple phone numbers and phone numbers with address
requirements can be purchased using the IncomingPhoneNumber resource. Address
requirements are exposed as a property on the AvailablePhoneNumber resource.</p><p class="api_description">The Address list resource represents all of the Addresses that you have created
on your account within Twilio. You can POST to Addresses to create a new
address or modify an existing address.</p><h3 id="instance"><a href="#instance">Address Instance Resource</a></h3><h4 id="instance-uri"><a href="#instance-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="notranslate http-request">/2010-04-01/Accounts/{AccountSid}/Addresses/{AddressSid}
</pre></div><h4 id="instance-properties"><a href="#instance-properties">Resource Properties</a></h4><table><thead><tr><th align="left">Property</th><th align="left">Description</th></tr></thead><tbody><tr><td align="left" class="notranslate">Sid</td><td align="left">A 34 character string that uniquely identifies this address.</td></tr><tr><td align="left" class="notranslate">AccountSid</td><td align="left">The unique id of the <a href="account">Account</a> responsible for this address.</td></tr><tr><td align="left" class="notranslate">FriendlyName</td><td align="left">A human-readable description of the address. Maximum 64 characters.</td></tr><tr><td align="left" class="notranslate">CustomerName</td><td align="left">Your name or business name, or that of your customer.</td></tr><tr><td align="left" class="notranslate">Street</td><td align="left">The number and street address where you or your customer is located.</td></tr><tr><td align="left" class="notranslate">City</td><td align="left">The city in which you or your customer is located.</td></tr><tr><td align="left" class="notranslate">Region</td><td align="left">The state or region in which you or your customer is located.</td></tr><tr><td align="left" class="notranslate">PostalCode</td><td align="left">The postal code in which you or your customer is located.</td></tr><tr><td align="left" class="notranslate">IsoCountry</td><td align="left">The ISO country code of your or your customer's address.</td></tr></tbody></table><h4 id="instance-get"><a href="#instance-get">HTTP GET</a></h4><h5 id="instance-get-example-1"><a href="#instance-get-example-1">Example</a></h5><div class="code-sample" data-href="instance-get-example-1"></div><h4 id="instance-post"><a href="#instance-post">HTTP POST</a></h4><p class="api_description">A POST request attempts to update an individual Address instance and returns
the updated resource representation if successful.  A successful returned
response is identical to that of the HTTP GET.</p><p>Note that that all fields but <code class="notranslate">IsoCountry</code> can be updated using a POST request.
To update the <code class="notranslate">IsoCountry</code>, a new Address must be created.</p><h5 id="instance-post-optional-parameters"><a href="#instance-post-optional-parameters">Optional Parameters</a></h5><p>You may specify one or more of the following parameters to update this
address's respective properties:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">Sid</td><td>A 34 character string that uniquely identifies this address.</td></tr><tr><td class="notranslate">AccountSid</td><td>The unique id of the <a href="/docs/api/rest/account">Account</a> responsible for this address.</td></tr><tr><td class="notranslate">FriendlyName</td><td>A human-readable description of the address. Maximum 64 characters.</td></tr><tr><td class="notranslate">CustomerName</td><td>Your name or business name, or that of your customer.</td></tr><tr><td class="notranslate">Street</td><td>The number and street address where you or your customer is located.</td></tr><tr><td class="notranslate">City</td><td>The city in which you or your customer is located.</td></tr><tr><td class="notranslate">Region</td><td>The state or region in which you or your customer is located.</td></tr><tr><td class="notranslate">PostalCode</td><td>The postal code in which you or your customer is located.</td></tr></tbody></table><h5 id="instance-post-example-1"><a href="#instance-post-example-1">Example</a></h5><p>Update the customer name and street to â€˜Customer 456â€&trade; and â€˜2 Hasselhoff Laneâ€&trade;.</p><div class="code-sample" data-href="instance-post-example-1"></div><h4 id="instance-put"><a href="#instance-put">HTTP PUT</a></h4><p>Not supported.</p><h4 id="instance-delete"><a href="#instance-delete">HTTP DELETE</a></h4><p class="api_description">Deletes this address from your account.</p><p>If this address is required for any active IncomingPhoneNumbers, it cannot be
deleted and you will receive Error <a href="/docs/errors/21625">21625</a>. However, if you have a
second address that fulfills the AddressRequirement, the address will be
successfully deleted. The DependentPhoneNumbers Instance Subresource will allow
you to see which IncomingPhoneNumbers require a given address.</p><p>If the delete is successful, Twilio will return an HTTP 204 response with no
body.</p><h3 id="list"><a href="#list">Addresses List Resource</a></h3><h4 id="list-uri"><a href="#list-uri">Resource URI</a></h4><div class="api_endpoint"><pre class="notranslate http-request">/2010-04-01/Accounts/{AccountSid}/Addresses
</pre></div><h4 id="list-get"><a href="#list-get">HTTP GET</a></h4><p class="api_description">Returns a list of Application resource representations, each representing an
application within your account. The list includes <a href="/docs/api/rest/response#response-formats-list-paging-information">paging information</a>.</p><h5 id="list-get-filters"><a href="#list-get-filters">List Filters</a></h5><p>The following query string parameters allow you to limit the list returned.
Note, parameters are case-sensitive:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">CustomerName</td><td>Only return the Address resources with customer names that exactly match this name.</td></tr><tr><td class="notranslate">FriendlyName</td><td>Only return the Address resources with friendly names that exactly match this name.</td></tr><tr><td class="notranslate">IsoCountry</td><td>Only return the Address resources in this country.</td></tr></tbody></table><h4 id="list-get-example-1"><a href="#list-get-example-1">Example 1</a></h4><p>Show all addresses.</p><div class="code-sample" data-href="list-get-example-1"></div><h5 id="list-get-example-2"><a href="#list-get-example-2">Example 2</a></h5><p>Show all addresses matching the Customer Name 'Customer 123'.</p><div class="code-sample" data-href="list-get-example-2"></div><h4 id="list-post"><a href="#list-post">HTTP POST</a></h4><p>Creates a new Address within your account.</p><h5 id="list-post-required-parameters"><a href="#list-post-required-parameters">Required Parameters</a></h5><p>Your request <strong>must</strong> include the following parameters:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">CustomerName</td><td>Your name or business name, or that of your customer.</td></tr><tr><td class="notranslate">Street</td><td>The number and street address where you or your customer is located.</td></tr><tr><td class="notranslate">City</td><td>The city in which you or your customer is located.</td></tr><tr><td class="notranslate">Region</td><td>The state or region in which you or your customer is located.</td></tr><tr><td class="notranslate">PostalCode</td><td>The postal code in which you or your customer is located.</td></tr><tr><td class="notranslate">IsoCountry</td><td>The ISO country code of your or your customer's address.</td></tr></tbody></table><h5 id="list-post-optional-parameters"><a href="#list-post-optional-parameters">Optional Parameters</a></h5><p>Your request may include the following parameters:</p><table><thead><tr><th>Parameter</th><th>Description</th></tr></thead><tbody><tr><td class="notranslate">FriendlyName</td><td>A human-readable description of the new address. Maximum 64 characters.</td></tr></tbody></table><p>If successful, Twilio will respond with a representation of the new address.</p><h4>HTTP PUT</h4><p>Not supported.</p><h4>HTTP DELETE</h4><p>Not supported.</p><h2 id="instance-subresources"><a href="#instance-subresources">Address Subresources</a></h2><h3 id="list-dependent-pns"><a href="#list-dependent-pns">Dependent Phone Numbers Instance Subresource</a></h3><p>Each Address instance resource supports a subresource for viewing which phone
numbers are dependent on your existing addresses. In the case that you have two
addresses which satisfy the requirement on a given phone number, this
subresource will not return the phone number in the list.</p><h4 id="list-uri-dependent-pns"><a href="#list-uri-dependent-pns">Resource URI</a></h4><div class="api_endpoint"><pre class="notranslate http-request">/2010-04-01/Accounts/{AccountSid}/Addresses/{AddressSid}/DependentPhoneNumbers
</pre></div><h4>HTTP GET</h4><p class="api_description">Returns a list of IncomingPhoneNumbers on your account that require the
specified address.</p><h4>Paging</h4><p>The list includes paging information. If you plan on requesting more records
than will fit on a single page, you should use the provided nextpageuri rather
than incrementing through the pages by page number. Using the nextpageuri helps
to ensure that your next request picks up where it left off and can prevent you
from retrieving duplicate data if you are actively creating addresses.</p><h4 id="list-dependent-pns-example-1"><a href="#list-dependent-pns-example-1">Example 1</a></h4><p>Show all phone numbers on your account that require the address <code class="notranslate">AD2a0747eba6abf96b7e3c3ff0b4530f6e</code>.</p><div class="code-sample" data-href="list-dependent-pns-example-1"></div><h4>HTTP POST</h4><p>Not supported.</p><h4>HTTP PUT</h4><p>Not supported.</p><h4>HTTP DELETE</h4><p>Not supported</p></div></div></div>
</body>
